<div class="container">
  <!--Subtitle lesson-->
  <div class="subtitle-compound">
    <div class="subtitle-compound__text">
      <span>Themes</span>
    </div>
    <div class="subtitle-compound__buttons-container">
      <!--Add button-->
      <button
        class="circular-button-subtitle"
        mat-mini-fab
        (click)="agregarTemas()"
      >
        <mat-icon class="circular-button-subtitle__icon">add</mat-icon>
      </button>
      <!--#Add button-->
    </div>
  </div>
  <!--#Subtitle lesson-->
  <!--row-->
  <div class="row">
    <div *ngFor="let cards of themeCards" class="col-lg-3 col-md-6 col-xs-12">
      <!--custom-cards  #D77A61  -->
      <div
        class="custom-card"
      >
        <div class="custom-card__img">
          <div class="custom-card__img-overlay">
            <div class="custom-card__buttons-card">
              <!--btn ver contenido-->
              <button
              [ngStyle]="{'background-color': cards.estado==2? 'transparent' : '#808080'}"
               [disabled]="cards.estado==2"
                class="circular-button-custom-card"
                (click)="verContenido(cards.idTema)"
              >
                <mat-icon class="circular-button-custom-card__icon" >
                  remove_red_eye
                </mat-icon>
              </button>
              <!--#btn ver contenido-->
              <!--btn configuraciones-->
              <button
                class="circular-button-custom-card"
                (click)="configuraciones(cards)"
              >
                <mat-icon class="circular-button-custom-card__icon">
                  settings
                </mat-icon>
              </button>
              <!--#btn configuraciones-->
              <!--btn eliminar-->
              <button class="circular-button-custom-card"
              [ngStyle]="{'background-color': cards.estado==2? 'transparent' : '#808080'}"
                [disabled]="cards.estado==2"
                (click)="eliminar(cards.idTema)">
                <mat-icon class="circular-button-custom-card__icon">
                  delete
                </mat-icon>
              </button>
              <!--#btn eliminar-->
            </div>
            <div class="custom-card__content-card"></div>
            <div class="custom-card__description-theme">
              <span class="custom-card__description-theme--title">Theme {{
                cards.numeroTema
              }}</span>
              <span class="custom-card__description-theme--subtitle">
                {{ cards.nombreTema }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <!--#custom-cards-->
    </div>
  </div>
  <!--#row-->

</div>
