<div class="container">
  <!--Subtitle-->
  <div class="subtitle-compound">
    <div class="subtitle-compound__text">
      <span>Lesson</span>
    </div>
    <div class="subtitle-compound__buttons-container">
      <!--Add button-->
      <button
        class="circular-button-subtitle"
        mat-mini-fab
        (click)="agregarLeccion()"
      >
        <mat-icon class="circular-button-subtitle__icon">add</mat-icon>
      </button>
      <!--#Add button-->
    </div>
  </div>
  <!--#Subtitle-->
  <!--row-->
  <div class="row">
    <div *ngFor="let cards of lessonCards" class="col-lg-3 col-md-6 col-xs-12">
      <!--custom-cards  #D77A61  -->
      <div class="custom-card--lessons">
        <div class="custom-card--lessons__img">
          <div class="custom-card--lessons__img-overlay">
            <div class="custom-card--lessons__buttons-card">
              <!--btn ver contenido-->
              <button
                class="circular-button-custom-card"
                (click)="verLecciones(cards.id)"
              >
                <mat-icon class="circular-button-custom-card__icon" >
                  remove_red_eye
                </mat-icon>
              </button>
              <!--#btn ver contenido-->
              <!--btn  configuraciones-->
              <button
                class="circular-button-custom-card"
                (click)="configuraciones(cards)"
              >
                <mat-icon class="circular-button-custom-card__icon">
                  settings
                </mat-icon>
              </button>
              <!--#btn  configuraciones-->
              <!--btn eliminar-->
              <button class="circular-button-custom-card" (click)="eliminar(cards.id)">
                <mat-icon class="circular-button-custom-card__icon"> 
                  delete
                </mat-icon>
              </button>
              <!--#btn eliminar-->
            </div>
            <div class="custom-card--lessons__content-card"></div>
            <div class="custom-card--lessons__description-theme">
              <span class="custom-card--lessons__description-theme--title">Lesson {{
                cards.numeroLeccion
              }}</span>
              <span class="custom-card--lessons__description-theme--subtitle">
                {{ cards.nombre }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <!--#custom-cards-->
    </div>
  </div>
  <!--#row-->
  <!--Subtitle Theme Test-->
  <div class="subtitle-compound">
    <div class="subtitle-compound__text">
      <span>Theme Test</span>
    </div>
    <div class="subtitle-compound__buttons-container">
      <!--Add button-->
      <button class="circular-button-subtitle" mat-mini-fab>
        <mat-icon class="circular-button-subtitle__icon">add</mat-icon>
      </button>
      <!--#Add button-->
    </div>
  </div>
  <!--#Subtitle Theme Test-->
  <!--row-->
  <div class="row">
    <div *ngFor="let cards of simpleCards" class="col-lg-3 col-md-6 col-xs-12">
      <div class="custom-card--themes">
        <div class="custom-card--themes__img">
          <div class="custom-card--themes__img-overlay">
            <div class="custom-card--themes__buttons-card">
              <!--btn Ver lista-->
              <button class="circular-button-custom-card" (click)="listar()" >
                <mat-icon class="circular-button-custom-card__icon">
                  list
                </mat-icon>
              </button>
              <!--#btn Ver lista-->
              <!--btn  configuraciones-->
              <button
                class="circular-button-custom-card"
                (click)="configuraciones(cards.titulo)"
              >
                <mat-icon class="circular-button-custom-card__icon">
                  settings
                </mat-icon>
              </button> 
              <!--#btn  configuraciones-->
              <!--btn eliminar-->
              <button class="circular-button-custom-card" (click)="eliminar2()">
                <mat-icon class="circular-button-custom-card__icon">
                  delete
                </mat-icon>
              </button>
              <!--#btn eliminar-->
            </div>
            <div class="custom-card--themes__content-card"></div>
            <div class="custom-card--themes__description-theme">
              <span class="custom-card--themes__description-theme--title">{{
                cards.titulo
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <!--#custom-cards-->
    </div>
  </div>
  <!--#row-->
</div>
