<div class="container">
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Dashboard</span>
    </div>
  </div>
  <!--#Subtitle-->
  <div class="row">
    <div class="col-md-6">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
    <div class="col-md-6">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
  </div>
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Assistance</span>
    </div>
  </div>
  <!--#Subtitle-->
  <div class="row">
    <div class="col-sm-4">
      <div class="dashboard-card">
        <div class="dashboard-card__description-dashboard">
          <div class="dashboard-card__description-dashboard-title">
            <span>February</span>
          </div>
        </div>
        <div class="dashboard-card__grafics">
          <canvas
            baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [colors]="doughnutChartColors"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="dashboard-card">
        <div class="dashboard-card__description-dashboard">
          <div class="dashboard-card__description-dashboard-title">
            <span>March</span>
          </div>
        </div>
        <div class="dashboard-card__grafics">
          <canvas
            baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [colors]="doughnutChartColors"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="dashboard-card">
        <div class="dashboard-card__description-dashboard">
          <div class="dashboard-card__description-dashboard-title">
            <span>April</span>
          </div>
        </div>
        <div class="dashboard-card__grafics">
          <canvas
            baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [colors]="doughnutChartColors"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Practices</span>
    </div>
  </div>
  <!--#Subtitle-->
  <div class="row last-component">
    <div class="col-sm-4" *ngFor="let practica of practicas">
      <div class="dashboard-card">
        <div class="dashboard-card__description-dashboard">
          <div class="dashboard-card__description-dashboard-title">
            <span>{{practica.nombrePractica}}</span>
          </div>
        </div>
        <div class="dashboard-card__grafics">
          <canvas
            baseChart
            [data]="practica.datos"
            [labels]="doughnutChartLabelsPractices"
            [chartType]="doughnutChartType"
            [colors]="doughnutChartColorsPractices"
          >
          </canvas>
        </div>
      </div>
    </div>
    
  </div>
</div>
