<div class="container">
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Dashboard</span>
    </div>
  </div>
  <!--#Subtitle-->
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
    [legend]="barChartLegend" [chartType]="barChartType" 

    >
    </canvas>
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Assistance</span>
    </div>
  </div>
  <!--#Subtitle-->
  <div class="dashboard-card">
    <div class="dashboard-card__description-dashboard ">
      <div class="dashboard-card__description-dashboard-title ">
        <p>April</p>
      </div>
    </div>
    <div class="dashboard-card__grafics">
      <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
        [colors]="doughnutChartColors">
      </canvas>
    </div>
  </div>
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Practices</span>
    </div>
  </div>
  <!--#Subtitle-->
  <div class="dashboard-card">
    <div class="dashboard-card__description-dashboard ">
      <div class="dashboard-card__description-dashboard-title ">
        <p>Theme 3</p>
      </div>
    </div>
    <div class="dashboard-card__grafics">
      <canvas baseChart [data]="doughnutChartDataPractices" [labels]="doughnutChartLabelsPractices"
        [chartType]="doughnutChartType" [colors]="doughnutChartColorsPractices">
      </canvas>
    </div>
  </div>
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Tests</span>
    </div>
  </div>
  <!--#Subtitle-->
  <div class="dashboard-card">
    <div class="dashboard-card__description-dashboard ">
      <div class="dashboard-card__description-dashboard-title ">
        <p>Theme 3</p>
      </div>
    </div>
    <div class="dashboard-card__grafics">
      <canvas baseChart [data]="doughnutChartDataTests" [labels]="doughnutChartLabelsPractices"
        [chartType]="doughnutChartType" [colors]="doughnutChartColorsPractices">
      </canvas>
    </div>
  </div>
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Assessment</span>
    </div>
  </div>
  <!--#Subtitle-->
  <div class="dashboard-card">
    <div class="dashboard-card__description-dashboard ">
      <div class="dashboard-card__description-dashboard-title ">
        <p>Theme 3</p>
      </div>
    </div>
    <div class="dashboard-card__grafics">
      <canvas baseChart [data]="doughnutChartDataAssessment" [labels]="doughnutChartLabelsPractices"
        [chartType]="doughnutChartType" [colors]="doughnutChartColorsPractices">
      </canvas>
    </div>
  </div>
</div>