@import "4-layout/sidebar";
//@import "4-layout/navbar";
//@import "4-layout/content";
mat-expansion-panel {
  background-color: transparent;
  //padding: 0 1.5rem!important;
  border-bottom: 0.1rem solid $color-primary-white;
  box-shadow: none;
  border-radius: 0rem;
}
::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}
::ng-deep .mat-expansion-panel-header {
  padding: 0 1.5rem !important;
  font-size: 1.6rem;
}
::ng-deep .mat-expansion-indicator::after {
  color: $color-primary-white;
}
::ng-deep .mat-content {
  align-items: center;
}
.expansion-panel {
  &__header {
    color: $color-primary-white !important;
    &-icon {
      @include margin-left-right(1.5rem, 2rem);
    }
    &-text {
      @include margin-left-right(1.5rem, 2rem);
    }
    &:hover {
      background-color: rgba($color-primary-white, 0.3) !important;
    }
    // .mat-expansion-indicator {
    //   color: $color-primary-white !important;
    // }
  }
}
