<div class="header">
  <div class="container">
    <mat-toolbar class="header__container">
      <span class="header__text">{{ message }}</span>
      <div class="header__buttons">
        <button
          class="circular-button-navbar"
          mat-mini-fab
          [matMenuTriggerFor]="classmodal"
        >
          <span class="circular-button__class">E2</span>
        </button>
        <mat-menu
          class="classroom-choose-card"
          #classmodal="matMenu"
          xPosition="before"
        >
          <div class="classroom-choose-card__content">
            <span class="classroom-choose-card__classroom">English 2</span>
            <span class="classroom-choose-card__classroom">English 3</span>
          </div>
        </mat-menu>

        <button
          class="circular-button-navbar"
          mat-mini-fab
          [matMenuTriggerFor]="notificationmodal"
        >
          <mat-icon class="circular-button__icon">notifications_none</mat-icon>
        </button>
        <mat-menu
          class="notification-card"
          #notificationmodal="matMenu"
          xPosition="before"
        >
          <div class="notification-card__content">
            <span class="notification-card__notification">Final Test</span>
            <span class="notification-card__notification">Practice 1</span>
          </div>
        </mat-menu>

        <button
          class="circular-button-navbar"
          mat-mini-fab
          [matMenuTriggerFor]="usermodal"
        >
          <span class="circular-button__first-word">{{
            userDocente.primaLetra
          }}</span>
        </button>
        <mat-menu class="user-card" #usermodal="matMenu" xPosition="before">
          <div class="user-card__content">
            <button class="user-card__icon" mat-fab>
              <span class="user-card__first-word">{{
                userDocente.primaLetra
              }}</span>
            </button>
            <span class="user-card__name">{{ userDocente.nombreDocente }}</span>
            <span class="user-card__lastname">{{
              userDocente.apellidoDocente
            }}</span>
            <span class="user-card__email">{{
              userDocente.correoDocente
            }}</span>
            <span class="user-card__classroom">Class : English 2</span>
            <button
              mat-stroked-button
              class="user-card__button-logout"
              (click)="signout()"
            >
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button>
          </div>
          <mat-menu class="user-card" #usermodal="matMenu" xPosition="before">
            <div class="user-card__content">
              <button class="user-card__icon" mat-fab>
                <span class="user-card__first-word">{{
                  userDocente.primaLetra
                }}</span>
              </button>
              <span class="user-card__name">{{
                userDocente.nombreDocente
              }}</span>
              <span class="user-card__email">{{
                userDocente.correoDocente
              }}</span>
              <span class="user-card__classroom">Class : {{ materia }}</span>
              <button mat-stroked-button class="user-card__button-logout">
                <mat-icon>exit_to_app</mat-icon>
                Sign out
              </button>
            </div>
          </mat-menu>
        </mat-menu>
      </div>
      <!-- </div> -->
    </mat-toolbar>
  </div>
</div>
