<div class="dialog">
  <!-- title dialog -->
  <div class="dialog-subtitle">
    <div class="dialog-subtitle__text">
      <span>Update Student Score</span>
    </div>
  </div>
  <!-- #title dialog -->
  <!-- body -->
  <mat-dialog-content class="mat-typography">
    <form class="dialogforms" enctype="multipart/form-data">
      <mat-form-field
        appearance="outline"
        class="input-disabled"
      >
        <mat-label>Student's Name</mat-label>
        <!-- Input para el nombre de la seccion-->
        <input
          type="text"
          class="input-form"
          matInput
          placeholder=""
          readonly
          [(ngModel)]="estudiante.p_nombre+' '+estudiante.m_nombre+' '+estudiante.nombre"
          name="nombreEstudiante"
        />
        <!-- //Input para el nombre de la seccion-->
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="input-disabled"
        (dblclick)="toggleDisable()"
      >
        <mat-label>Student's Score</mat-label>
        <!-- Input para el nombre de la seccion-->
        <input
          type="text"
          class="input-form"
          matInput
          placeholder=""
          [disabled]="disableTextbox"
          [(ngModel)]="estudiante.puntuacion"
          name="puntuacionEstudiante"
          oninput="javascript: if(this.value>100){this.value=100} else if(this.value<0){this.value=0} else if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);}"
          maxlength="3"
          #nombreP5
        />
        <mat-hint align="end">{{nombreP5.value.length}} / 3</mat-hint>
        <!-- //Input para el nombre de la seccion-->
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <!-- #body -->
  <!--buttons-->
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="dialog-button-cancel">
      Cancel
    </button>
    <button mat-button (click)="aceptar()" class="dialog-button-accept">
      Accept
    </button>
  </mat-dialog-actions>
  <!--buttons-->
</div>
