.u__space-evenly {
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}
.u__space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}

.u__flex--flex-end {
  display: flex;
  justify-content: flex-end;
  background-color: red;
}

.u__flex--flex-start {
  display: flex;
  justify-content: flex-start;
  //background-color: red;
}

// .u__center {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: red;
// }
.u__space-evenly--center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.u__flex {
  display: flex;
  align-items: center;
  background-color: red;
}
.u__flex-normal {
  display: flex;
  //flex-flow: wrap;
  //background-color: red;
}
.u__flex-normal-inputs {
  display: flex;
  flex-flow: wrap;
  //background-color: red;
}
.u__flex-95 {
  flex: 0 1 95%;
}
.u__flex-05 {
  flex: 0 1 5%;
}
.u__vertical-align--center {
  //background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.u__vertical-align--space-evenly {
  //background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.u__row {
  justify-content: space-between;
  display: flex;
  flex-flow: wrap;
  //background-color: red;
}
.mt-5 {
  margin-top: 5rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-05 {
  margin-bottom: 0.5rem !important;
}
.ml-1 {
  margin-left: 1rem;
}
.mx-1 {
  margin: 0 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.px-1 {
  padding: 0 1rem;
}
.p-1 {
  padding: 1rem;
}
.h-5 {
  font-size: 5rem;
  letter-spacing: 0px;
}
.h-3 {
  font-size: 3rem;
  letter-spacing: 0px;
}
.l-h-7 {
  line-height: 7rem;
}
.l-h-5 {
  line-height: 5rem;
}

.u__space-between--graphics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}

.u--75 {
  width: 50%;
  background-color: red;
}
// .u--25 {
//   width: 50%;
//   background-color: pink;
// }
.u__space-between-minutes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include respond(tab-por) {
    //background-color: green;
    width: 100%;
    text-align: center;
  }
}
.u__flex-normal-cards {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;

  @include respond(big-desktop) {
    //background-color: violet;
  }
  @include respond(normal-desktop) {
    //background-color: blue;
  }
  @include respond(normal) {
    justify-content: center;
    //background-color: orange;
  }
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
