<div class="dialog">
  <div class="dialog-subtitle">
    <div class="dialog-subtitle__text">
      <span>Custome Module Rubric</span>
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <form class="dialogformsModuesRubric">
      <!--block-->
      <div
        class="dialog__module-rubric"
        *ngFor="let element of listaRubricas; let i = index"
      >
        <div class="dialog__module-rubric--left-side">
          <span class="dialog__module-rubric--text">{{
            element.nombreModulo
          }}</span>
        </div>

        <mat-form-field
          appearance="outline"
          class="dialog__module-rubric--right-side input-disabled"
          (dblclick)="toggleDisable()"
        >
          <mat-label>%</mat-label>
          <!-- Input para el nombre del modulo-->
          <input
            type="number"
            matInput
            [(ngModel)]="element.rubrica"
            (change)=cambio()
            name="nombreModulo+ {{ i }}"
            oninput="javascript: if(this.value>100){this.value=100} else if(this.value<0){this.value=0} else if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);}"
            maxlength="3"
            #nombreP5
          />
          <mat-hint align="end">{{nombreP5.value.length}} / 3</mat-hint>
          <!-- //Input para el nombre del modulo-->
        </mat-form-field>
      </div>
      <!--#block-->
    </form>

    <div class="dialog-subtitle">
      <div class="dialog-subtitle__text"></div>
    </div>

    <div *ngIf="total == 100; else menor100" class="colorRubric">
      <div class="colorRubric--positive">
        <span>{{ total }}</span>
        <mat-icon class="colorRubric__icon--positive">
          check
        </mat-icon>
      </div>
    </div>
    <ng-template #menor100>
      <div class="colorRubric">
        <div class="colorRubric--negative">
          <span>{{ total }}</span>
          <mat-icon class="colorRubric__icon--negative">
            close
          </mat-icon>
        </div>
      </div>
    </ng-template>
    <!-- class="pModuleRubricResult" -->
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <!--btn cancel-->
    <button
      mat-button
      mat-dialog-close
      class="dialog-button-cancel"
      (click)="cancelar()"
    >
      Cancel
    </button>
    <!--#btn cancel-->
    <!-- btn accept-->
    <button mat-button class="dialog-button-accept" (click)="aceptar()">
      Accept
    </button>
  </mat-dialog-actions>
  <!-- #btn accept-->
</div>
