//overall htm file
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  // @include respond(big-desktop) {
  //   background-color: violet;
  // }
  // @include respond(normal) {
  //   background-color: orange;
  // }
  // @include respond(tab-lan) {
  //   background-color: green;
  // }
  // @include respond(tab-por) {
  //   background-color: pink;
  // }
  // @include respond(phone) {
  //   background-color: red;
  // }
}
body {
  font-family: Roboto;
  height: 100vh;
  //background-color: $color-primary-white;
}

.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  @include respond(big-desktop) {
    //background-color: violet;
  }
  @include respond(normal-desktop) {
    //background-color: blue;
  }
  @include respond(normal) {
    //background-color: orange;
  }
  @include respond(tab-lan) {
    //background-color: green;
  }
  @include respond(tab-por) {
    //background-color: pink;
  }
  @include respond(phone) {
    //background-color: red;
  }
}
@media (min-width: 30rem) {
  .container {
    //background-color: violet;
    width: 40rem;
  }
}
@media (min-width: 50rem) {
  .container {
    //background-color: blue;
    width: 60rem;
  }
}
@media (min-width: 75em) {
  .container {
    //background-color: orange;
    width: 85rem;
  }
}
@media (min-width: 90rem) {
  .container {
    //background-color: green;
    width: 100rem;
  }
}
@media (min-width: 120rem) {
  .container {
    //background-color: red;
    width: 120rem;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  //border: 1px solid #d5d5d5;
}
::-webkit-scrollbar-thumb {
  background: $color-secondary-blue;
  border-radius: 20px;
}
