//overall htm file
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  @include respond(big-desktop) {
    //background-color: violet;
  }
  @include respond(normal) {
    //background-color: orange;
  }
  @include respond(tab-lan) {
    //background-color: green;
  }
  @include respond(tab-por) {
    //background-color: pink;
  }
  @include respond(phone) {
    //background-color: red;
  }
}
body {
  font-family: Roboto;
  height: 100vh;
  //background-color: $color-primary-white;
}

.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
.container-dialog {
  padding-right: 5rem;
  padding-left: 5rem;
  margin-right: auto;
  margin-left: auto;
}
.last-component {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .container {
    width: 75rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 97rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 117rem;
  }
}
::-webkit-scrollbar {
  width: 7.5px;
}
::-webkit-scrollbar-thumb {
  background: $color-secondary-blue;
  border-radius: 10px;
}
