.summary-info {
  max-width: 100%;
  //padding: 1.5rem;
  display: flex;
}

.circle {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 3rem;
  width: 3rem;
  box-sizing: border-box;
  border-radius: 100%;
  border: 1px solid #dadada;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
  &:hover {
    opacity: 75%;
    transition: 0.25s;
    transform: translateY(-0.25rem);
  }
}

.opened {
  max-width: 100%;
  padding: 10px;
  position: relative;
}

.colors {
  display: flex;
  flex-wrap: wrap;
}

.circle:nth-child(7n) {
  margin-right: 0;
}
