.combo-box-container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  //background-color: $color-primary-blue;
  justify-content: space-between;
  &--left {
    display: flex;
    align-items: center;
    //background-color: $color-primary-blue;
    justify-content: space-between;
  }
}

.combo-box {
  margin-right: 2rem;
  .mat-form-field-underline {
    height: 1 !important;
  }
  .mat-form-field-wrapper {
    padding-bottom: 1rem !important;
  }
  .mat-form-field-ripple {
    background-color: $color-primary-blue !important;
  }
  .mat-form-field-flex {
    padding: 1rem !important;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    //background-color: lighten($color-primary-blue, 65%);
    //background-color: $color-primary-blue;
    //border:0.15rem solid $color-primary-blue!important;
    //opacity: 70%;
  }
  .mat-icon {
    color: red !important;
  }
}

.mat-select-arrow {
  color: $color-primary-blue !important;
}

.mat-active {
  background-color: $color-primary-blue !important;
  color: $color-primary-white !important;
}
// .mat-option {
//   &:hover {
//     //background-color: $color-primary-blue !important;
//     //color: $color-primary-white !important;
//   }
// }
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $color-primary-white !important;
}

.combo-box-schedule {
  background-color: red;
  width: 33%;
}
