.link {
  //background-color: red;
  border-bottom: 0.1rem solid $color-primary-white;
  color: $color-primary-white !important;
  &__icon {
    @include margin-left-right(1.5rem, 2rem);
  }
  &__text {
    @include margin-left-right(1.5rem, 2rem);
  }
  &:first-of-type {
    border-top: 0.1rem solid $color-primary-white;
  }
  &:hover {
    background-color: rgba($color-primary-white, 0.3) !important;
  }
}
.sublink {
  font-size: 1.4rem!important;
  color: $color-primary-white !important;
  &__icon {
    @include margin-left-right(4rem, 2rem);
  }
  &__text {
    @include margin-left-right(1.5rem, 2rem);
  }
  &:hover {
    background-color: rgba($color-primary-white, 0.3) !important;
  }
}