.link {
  //background-color: red;
  &:first-of-type {
    border-top: 0.1rem solid $color-primary-white;
  }
  border-bottom: 0.1rem solid $color-primary-white;
  //color: $color-primary-white;
  &__icon {
    margin-left: 1.5rem;
    margin-right: 2rem;
    color: $color-primary-white;
  }
  &__text {
    margin-left: 1.5rem;
    margin-right: 2rem;
    color: $color-primary-white;
  }
  &:hover {
    background-color: rgba($color-primary-white, 0.3) !important;
  }
}
