.link {
  border-bottom: 0.1rem solid $color-primary-white;
  color: $color-primary-white !important;
  position: relative;

  &__icon {
    @include margin-left-right(1.5rem, 2rem);
    z-index: 10;
    position: relative;
  }
  &__text {
    @include margin-left-right(1.5rem, 2rem);
    z-index: 10;
    position: relative;
  }
  &:first-of-type {
    border-top: 0.1rem solid $color-primary-white;
  }
  &:hover {
    //background-color: rgba($color-primary-red, 0.3) !important;
  }
  &:hover::before {
    transform: scaleY(1);
    width: 100%;
  }
  &::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    //border-left: 5px solid green;
    width: 3px;
    background-color: rgba($color-primary-white, 0.25);
  }
}
.sublink {
  font-size: 1.4rem !important;
  color: $color-primary-white !important;
  position: relative;
  &__icon {
    @include margin-left-right(4rem, 2rem);
    z-index: 10;
    position: relative;
  }
  &__text {
    @include margin-left-right(1.5rem, 2rem);
    z-index: 10;
    position: relative;
  }
  &:hover {
    //background-color: rgba($color-primary-red, 0.3) !important;
  }
  &:hover::before {
    transform: scaleY(1);
    width: 100%;
  }
  &::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    //border-left: 5px solid green;
    width: 3px;
    background-color: rgba($color-primary-white, 0.25);
  }
}
.list-item-active-link {
  //backdrop-filter: blur(10px);
  background-color: rgba($color-primary-white, 0.25) !important;
  border-left: 5px solid $color-primary-white;
}
