@import "1-helpers/variables";
@import "1-helpers/mixins";

.navbar-brand {
  @include custom-navbarbrand(25rem, 10rem);
  &__img {
    flex: 0 1 30%;
    height: 100%;
    background-size: cover;
    display: block;
  }
  &__text {
    flex: 0 1 1;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
  }
}
.navbar-brand-classroom {
  @include custom-navbarbrand(60rem, 10rem);

  &__img {
    flex: 0 1 30%;
    height: 100%;
    background-size: cover;
    display: block;
  }
  &__text {
    padding-left: 1rem;
    flex: 0 1 70%;
    margin: auto;
    display: flex;
    font-size: 2.5rem;
  }
  &__circle-button {
    align-items: center;
    flex: 1;
    padding-left: 20rem;
    display: flex;
    font-size: 2.5rem;
  }
}
