.radio-buttons-dialog {
  margin-bottom: 1rem;
  display: flex;
  //background-color: $color-primary-blue;
  align-items: center;
  justify-content: space-between;
  &__title {
    color: $color-primary-blue;
    font-size: 1.5rem;
  }
}
.radio-button {
  color: $color-primary-blue;
  padding: 0.75rem 1rem;
  //background-color: $color-primary-blue;
  border-radius: 3rem;
  border: 0.1rem solid $color-primary-blue;
}
.mat-radio-outer-circle {
  border-color: $color-primary-gray !important;
  .mat-radio-checked & {
    border-color: $color-primary-blue !important;
  }
}
.mat-radio-inner-circle {
  background-color: $color-primary-blue !important;
}

.mat-radio-ripple .mat-ripple-element {
  background-color: rgba($color-primary-blue, 0.35) !important;
}
