table {
  width: 100%;
  margin-top: 5rem;
}
.header-table {
  background-color: $color-primary-blue !important;
  color: $color-primary-white !important;
} 
.mat-sort-header-container {
  display: flex !important;
  justify-content: center !important;
}
.mat-sort-header-arrow {
  color: $color-primary-white!important;
}

td.mat-cell {
  text-align: center ;
}
mat-paginator {
  margin-bottom: 5rem !important;
}
th.mat-header-cell {
  text-align: center !important;
}

.table-button{
  display: flex;
  justify-content: flex-end;
}