.mat-table {
  background-color: transparent !important;
}
table {
  width: 100%;
  margin-top: 2.5rem;
  border-collapse: collapse;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  overflow: hidden !important;
}
table tr:last-child td /*To remove the last border*/ {
  border-bottom: 0 solid;
}

.header-table {
  background-color: $color-primary-blue !important;
  color: $color-primary-white !important;
}
.simple_element {
  color: $color-primary-blue;
}
.mat-sort-header-container {
  display: flex !important;
  justify-content: center !important;
}
.mat-sort-header-arrow {
  color: $color-primary-white !important;
}

td.mat-cell {
  text-align: center;
}
mat-paginator {
  margin-bottom: 5rem !important;
}
th.mat-header-cell {
  text-align: center !important;
}

.table-button {
  display: flex;
  justify-content: flex-end;
}
.table-extra {
  &__icon {
    font-size: 1.75rem;
    &--check {
      color: $color-primary-blue;
    }
    &--cross {
      color: $color-primary-red;
    }
  }
}
.resource_type_icon {
  color: $color-primary-blue;
}
.subtitle-average-table {
  display: flex;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: $color-primary-blue;
}
.mat-paginator {
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  background-color: #fafafa !important;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.header-table__metric {
  color: $color-primary-blue;
  font-weight: bold;
}
tr.header-table__hover:not(.example-expanded-row):hover {
  background: #efefef;
}

tr.header-table__hover:not(.example-expanded-row):active {
  background: $color-hover-blue;
}
.header-table__hover td {
  border-bottom-width: 0;
}
