table {
  width: 100%;
  margin-top: 2.5rem;
}
.header-table {
  background-color: $color-primary-blue !important;
  color: $color-primary-white !important;
}
.mat-sort-header-container {
  display: flex !important;
  justify-content: center !important;
}
.mat-sort-header-arrow {
  color: $color-primary-white !important;
}

td.mat-cell {
  text-align: center;
}
mat-paginator {
  margin-bottom: 5rem !important;
}
th.mat-header-cell {
  text-align: center !important;
}

.table-button {
  display: flex;
  justify-content: flex-end;
}
.table-extra {
  &__icon {
    font-size: 1.75rem;
    &--check {
      color: $color-primary-blue;
    }
    &--cross {
      color: $color-primary-red;
    }
  }
}
.resource_type_icon {
  color: $color-primary-blue;
}
.subtitle-average-table {
  display: flex;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: $color-primary-blue;
  
}