.u__space-evenly {
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}
.u__space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.u__flex--flex-end {
  display: flex;
  justify-content: flex-end;
  //background-color: red;
}

.u__flex--flex-start {
  display: flex;
  justify-content: flex-start;
  //background-color: red;
}
.u__flex--flex-center {
  display: flex;
  justify-content: center;
  //background-color: red;
}
.u__flex {
  display: flex;
  align-items: center;
  background-color: pink;
}
.mt-3 {
  margin-top: 3rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mx-1 {
  margin: 0 1rem;
}
