<div class="container">
  <div class="subtitle-compound">
    <div class="subtitle-compound__text">
      <span>Student Profile</span>
    </div>
  </div>
  <div class="card-profile-student-container">
    <div class="card-profile-student">
      <div class="card-profile-student__header">
        <div class="card-profile-student__title">General Information</div>
      </div>
      <div class="card-profile-student__body">
        <div class="card-profile-student__characteristic">
          <div class="card-profile-student__characteristic--subtitle">
            Full Name :
          </div>
          <div class="card-profile-student__characteristic--content">
            {{ nombreEstudiante }}
          </div>
        </div>
        <div class="card-profile-student__characteristic">
          <div class="card-profile-student__characteristic--subtitle">
            Email :
          </div>
          <div class="card-profile-student__characteristic--content">
            {{ correoEstudiante }}
          </div>
        </div>
        <div class="card-profile-student__characteristic">
          <div class="card-profile-student__characteristic--subtitle">
            General Average :
          </div>
          <div class="card-profile-student__characteristic--content">
            {{ promedioGeneralEstudiante }}%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
