<div class="container">
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Student Profile</span>
    </div>
  </div>
  <!--#Subtitle-->
  <div class="card-profile-student-container">
    <div class="card-profile-student">
      <div class="card-profile-student__header">
        <div class="card-profile-student__title">General Information</div>
      </div>
      <div class="card-profile-student__body">
        <div class="card-profile-student__characteristic">
          <div class="card-profile-student__characteristic--subtitle">
            Full Name :
          </div>
          <div class="card-profile-student__characteristic--content">
            {{ estudiante.nombre }}
          </div>
        </div>
        <div class="card-profile-student__characteristic">
          <div class="card-profile-student__characteristic--subtitle">
            Email :
          </div>
          <div class="card-profile-student__characteristic--content">
            {{ estudiante.correo }}
          </div>
        </div>
        <div class="card-profile-student__characteristic">
          <div class="card-profile-student__characteristic--subtitle">
            General Average :
          </div>
          <div class="card-profile-student__characteristic--content">
            {{ estudiante.promedio
            }}<span class="header-table__metric"> / 100</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Main grades</span>
    </div>
  </div>
  <!--#Subtitle-->
  <!--#row dynamic-->
  <div class="row">
    <!--default attendance -->
    <div
      *ngFor="let custCards of defaultCard; let predi = index"
      class="col-xlg-3 col-lg-4 col-md-6 col-xs-12"
    >
      <div class="evaluation-card">
        <div
          class="evaluation-card__img"
          [ngStyle]="{
            'background-image': getImageUrl(imagenesPred[predi])
          }"
        >
          <div
            class="evaluation-card__img-overlay"
            [ngStyle]="{
              'background-color': '#' + coloresPred[predi] + 'A6'
            }"
          >
            <div class="evaluation-card__buttons-card">
              <!--btn ver contenido-->
              <button
                class="circular-button-custom-card"
                (click)="verContenido2()"
              >
                <mat-icon class="circular-button-custom-card__icon">
                  remove_red_eye
                </mat-icon>
              </button>
              <!--#btn ver contenido-->
            </div>
            <div class="evaluation-card__content-card">
              <div class="evaluation-card__circle-container">
                <div
                  class="evaluation-card__circle"
                  [ngStyle]="{
                    'background-color': '#' + coloresPred[predi]
                  }"
                >
                  {{ custCards.notaRubrica }} / {{custCards.rubrica}}
                </div>
              </div>
              <div class="evaluation-card__title-container">
                <div class="evaluation-card__title">
                  {{ custCards.nombreModulo }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--#row-->
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Custom grades</span>
    </div>
  </div>
  <!--#Subtitle-->
  <!--row-->
  <div class="row">
    <!--evaluation-card-attendance  -->
    <div
      *ngFor="let custCards of customCards"
      class="col-xlg-3 col-lg-4 col-md-6 col-xs-12"
    >
      <div class="evaluation-card">
        <div
          class="evaluation-card__img"
          [ngStyle]="{
            'background-image': getImageUrl(getImageIndex(custCards.idImagen))
          }"
        >
          <div
            class="evaluation-card__img-overlay"
            [ngStyle]="{
              'background-color': sacarColor(custCards.idColor) + 'A6'
            }"
          >
            <div class="evaluation-card__buttons-card">
              <!--btn ver contenido-->
              <button
                class="circular-button-custom-card"
                (click)="verContenido2()"
              >
                <mat-icon class="circular-button-custom-card__icon">
                  remove_red_eye
                </mat-icon>
              </button>
              <!--#btn ver contenido-->
            </div>
            <div class="evaluation-card__content-card">
              <div class="evaluation-card__circle-container">
                <div
                  class="evaluation-card__circle"
                  [ngStyle]="{
                    'background-color': sacarColor(custCards.idColor)
                  }"
                >
                  {{ custCards.rubrica }} / XX
                </div>
              </div>
              <div class="evaluation-card__title-container">
                <div class="evaluation-card__title">
                  {{ custCards.nombreModulo }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#evaluation-card-attendance  -->
  </div>
  <!--#row-->
</div>
