<div class="container">
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Student Profile</span>
    </div>
  </div>
  <!--#Subtitle-->
  <div class="card-profile-student-container">
    <div class="card-profile-student">
      <div class="card-profile-student__header">
        <div class="card-profile-student__title">General Information</div>
      </div>
      <div class="card-profile-student__body">
        <div class="card-profile-student__characteristic">
          <div class="card-profile-student__characteristic--subtitle">
            Full Name :
          </div>
          <div class="card-profile-student__characteristic--content">
            {{ estudiante.nombre }}
          </div>
        </div>
        <div class="card-profile-student__characteristic">
          <div class="card-profile-student__characteristic--subtitle">
            Email :
          </div>
          <div class="card-profile-student__characteristic--content">
            {{ estudiante.correo }}
          </div>
        </div>
        <div class="card-profile-student__characteristic">
          <div class="card-profile-student__characteristic--subtitle">
            General Average :
          </div>
          <div class="card-profile-student__characteristic--content">
            {{ estudiante.promedio}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Default Grades</span>
    </div>
  </div>
  <!--#Subtitle-->
  <!--row-->
  <div class="row">
    <!--evaluation-card-attendance  -->
    <div
      *ngFor="let preCard of defaultCard"
      class="col-lg-3 col-md-6 col-xs-12"
    >
      <div class="evaluation-card">
        <div class="evaluation-card__img" [ngStyle]="{
          'background-image': getImageUrl(getImageIndex(preCard.idImagen))}" >
          <div
            class="evaluation-card__img-overlay"
            [ngStyle]="{
              'background-color':  sacarColor(preCard.idColor)+'A6'
            }"
          >
            <div class="evaluation-card__buttons-card">
              <!--btn ver contenido-->
              <button
                class="circular-button-custom-card"
                (click)="verContenido(1)"
              >
                <mat-icon class="circular-button-custom-card__icon">
                  remove_red_eye
                </mat-icon>
              </button>
              <!--#btn ver contenido-->
            </div>
            <div class="evaluation-card__content-card">
              <div
                class="evaluation-card__circle"
                [ngStyle]="{ 'background-color': sacarColor(preCard.idColor)}"
              >
                {{ preCard.rubrica }}
              </div>
              <div class="evaluation-card__title">{{ preCard.nombreModulo }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#evaluation-card-attendance  -->
  </div>
  <!--#row-->
  <!--Subtitle-->
  <div class="subtitle">
    <div class="subtitle__text">
      <span>Custom Grades</span>
    </div>
  </div>
  <!--#Subtitle-->
  <!--row-->
  <div class="row last-component">
    <!--evaluation-card-attendance  -->
    <div
      *ngFor="let custCards of customCards"
      class="col-lg-3 col-md-6 col-xs-12"
    >
      <div class="evaluation-card">
        <div class="evaluation-card__img" [ngStyle]="{
          'background-image': getImageUrl(getImageIndex(custCards.idImagen))}" >
          <div
            class="evaluation-card__img-overlay"
            [ngStyle]="{
              'background-color':  sacarColor(custCards.idColor)+'A6'
            }"
          >
            <div class="evaluation-card__buttons-card">
              <!--btn ver contenido-->
              <button
                class="circular-button-custom-card"
                (click)="verContenido2()"
              >
                <mat-icon class="circular-button-custom-card__icon">
                  remove_red_eye
                </mat-icon>
              </button>
              <!--#btn ver contenido-->
            </div>
            <div class="evaluation-card__content-card">
              <div
                class="evaluation-card__circle"
                [ngStyle]="{ 'background-color': sacarColor(custCards.idColor) }"
              >
                {{ custCards.rubrica }}
              </div>
              <div class="evaluation-card__title">{{ custCards.nombreModulo }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#evaluation-card-attendance  -->
  </div>
  <!--#row-->
</div>
