<div class="container">
  <!--Subtitle-->
  <div class="subtitle-compound">
    <div class="subtitle-compound__text">
      <span>Practice X </span>
    </div>
  </div>
  <!--#Subtitle-->
  <!--row added row-->
  <div
    *ngFor="let card of preguntas; let i = index"
    [ngSwitch]="card.idTipoRespuesta"
    #template
    class="card-question mb-2 card-question--added"
  >
    <div class="u__flex-normal">
      <div class="u__flex-95">
        <div class="card-question-radio-button" *ngSwitchCase="'1'">
          <div class="container-dialog">
            <div class="dialog__message dialog__message--subtitle">
              Question Section
            </div>
            <div class="card-question__header">
              <mat-form-field
                appearance="outline"
                class="card-question__header--question"
              >
                <mat-label>Question Name</mat-label>
                <input
                  [(ngModel)]="card.pregunta"
                  type="text"
                  readonly
                  class="input-form"
                  matInput
                  placeholder="Question Name"
                  name="nombre preguntaPas3{{ i }}"
                />
                <mat-icon class="card-question__input-icon" matSuffix
                  >mode_edit</mat-icon
                >
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                class="card-question__header--score"
              >
                <mat-label>Score</mat-label>
                <input
                  [(ngModel)]="card.puntuacion"
                  type="text"
                  readonly
                  class="input-form"
                  matInput
                  placeholder="Score Name"
                  name="puntuacionPas3{{ i }}"
                />
                <mat-icon class="card-question__input-icon" matSuffix
                  >star</mat-icon
                >
              </mat-form-field>
            </div>
            <div class="divisor-line divisor-line--primary mb-2"></div>
            <div class="dialog__message dialog__message--subtitle mb-2">
              Answer Section
            </div>

            <div class="radio-button-question">
              <!-- <form class="example-form"> -->
              <mat-radio-group
                aria-label="Select an option"
                class="radio-button-question__radio-group"
                name="radioButtonsGroupPas3{{ i }}"
                [disabled]="true"
                [(ngModel)]="card.respuestaAl[0]"
              >
                <!-- radio button option -->
                <mat-radio-button
                  name="grupo{{ i }}"
                  class="radio-button-question__choice"
                  *ngFor="
                    let opcionesRadioButton of card.opciones;
                    let x = index
                  "
                  [value]="x"
                >
                  <mat-form-field class="radio-button-question__mat-form-field">
                    <input
                      [(value)]="card.opciones[x]"
                      name="grupoPas3{{ x }}{{ i }}"
                      style="color: black"
                      readonly
                      class="question-card-added__choice--input"
                      matInput
                      placeholder="opcion {{ x + 1 }}"
                    />
                  </mat-form-field>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>

        <div class="card-question-radio-button" *ngSwitchCase="'2'">
          <div class="container-dialog">
            <div class="dialog__message dialog__message--subtitle">
              Question Section
            </div>
            <div class="card-question__header">
              <mat-form-field
                appearance="outline"
                class="card-question__header--question"
              >
                <mat-label>Question Name</mat-label>
                <input
                  [(ngModel)]="card.pregunta"
                  type="text"
                  class="input-form"
                  matInput
                  readonly
                  placeholder="Question Name"
                  name="nombre preguntaPas3{{ i }}"
                />
                <mat-icon class="card-question__input-icon" matSuffix
                  >mode_edit</mat-icon
                >
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="card-question__header--score"
              >
                <mat-label>Score</mat-label>
                <input
                  [(ngModel)]="card.puntuacion"
                  type="text"
                  class="input-form"
                  readonly
                  matInput
                  placeholder="Score Name"
                  name="puntuacionPas3{{ i }}"
                />
                <mat-icon class="card-question__input-icon" matSuffix
                  >star</mat-icon
                >
              </mat-form-field>
            </div>
            <div class="divisor-line divisor-line--primary mb-2"></div>
            <div class="dialog__message dialog__message--subtitle mb-2">
              Answer Section
            </div>

            <div class="checkbox-question">
              <mat-checkbox
                class="checkbox-question__choice"
                [disabled]="true"
                *ngFor="let opcionesCB of card.opciones; let x = index"
                [(ngModel)]="card.respuestasBool[x]"
                name="respuestacheckPas3{{ x }}"
              >
                <mat-form-field class="checkbox-question__mat-form-field">
                  <input
                    [(value)]="card.opciones[x]"
                    style="color: black"
                    readonly
                    name="aPas3{{ x }}"
                    class="card-question__choice--input"
                    matInput
                    placeholder="opcion"
                  />
                </mat-form-field>
              </mat-checkbox>
            </div>
          </div>
        </div>

        <!-- drag and drop column-->
        <div class="card-question-radio-button" *ngSwitchCase="'3'">
          <div class="container-dialog">
            <div class="dialog__message dialog__message--subtitle">
              Question Section
            </div>
            <div class="card-question__header">
              <mat-form-field
                appearance="outline"
                class="card-question__header--question"
              >
                <mat-label>Instruction</mat-label>
                <input
                  [(ngModel)]="card.pregunta"
                  type="text"
                  readonly
                  class="input-form"
                  matInput
                  placeholder="Instruction"
                  [ngModelOptions]="{ standalone: true }"
                />
                <mat-icon class="card-question__input-icon" matSuffix
                  >mode_edit</mat-icon
                >
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                class="card-question__header--score"
              >
                <mat-label>Score</mat-label>
                <input
                  [(ngModel)]="card.puntuacion"
                  type="number"
                  class="input-form"
                  matInput
                  readonly
                  placeholder="Score"
                  [ngModelOptions]="{ standalone: true }"
                />
                <mat-icon class="card-question__input-icon" matSuffix
                  >star</mat-icon
                >
              </mat-form-field>
            </div>
            <div class="divisor-line divisor-line--primary mb-2"></div>
            <div class="dialog__message dialog__message--subtitle mb-2">
              Answer Section
            </div>
            <div class="dialog__message dialog__message--assistance mb-1">
              Fill the columns with the chips
            </div>
            <div class="drag-drop__area" cdkDropListGroup>
              <div class="drag-drop__columns">
                <div
                  class="drag-drop__column"
                  *ngFor="let column of card.respuestaAl; let colAl = index"
                >
                  <mat-form-field class="drag-drop__field">
                    <mat-label>Column title</mat-label>
                    <input
                      matInput
                      type="text"
                      [(ngModel)]="card.respuesta[colAl].titulo"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </mat-form-field>
                  <div class="drag-drop__task-container">
                    <mat-chip
                      class="example-box"
                      *ngFor="let option of column.cards"
                    >
                      {{ option }}
                    </mat-chip>
                  </div>
                </div>
              </div>
              <div class="dialog__message dialog__message--assistance mb-1">
                List of chips
              </div>
              <mat-chip-list
                class="drag-drop__column--horizontal"
                cdkDropListOrientation="horizontal"
              >
                <mat-chip class="task" *ngFor="let option of card.opciones">
                  {{ option }}
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
        <div class="card-question-radio-button" *ngSwitchCase="'4'">
          <div class="container-dialog">
            <div class="dialog__message dialog__message--subtitle">
              Question Setup
            </div>
            <div class="card-question__header">
              <mat-form-field
                appearance="outline"
                class="card-question__header--question"
              >
                <mat-label>Instruction</mat-label>
                <input
                  type="text"
                  class="input-form"
                  matInput
                  placeholder="Instruction"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="card.pregunta"
                />
                <mat-icon class="card-question__input-icon" matSuffix
                  >mode_edit</mat-icon
                >
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                class="card-question__header--score"
              >
                <mat-label>Score</mat-label>
                <input
                  type="number"
                  class="input-form"
                  matInput
                  placeholder="Score"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="card.puntuacion"
                />
                <mat-icon class="card-question__input-icon" matSuffix
                  >star</mat-icon
                >
              </mat-form-field>
            </div>
            <div class="divisor-line divisor-line--primary mb-2"></div>
            <div class="dialog__message dialog__message--subtitle mb-2">
              Answer Section
            </div>
            <div
              class="dialog__message dialog__message--assistance u__flex--flex-end mb-1"
            >
              *Create a sentence to be completed
            </div>

            <div class="drag-drop__input">
              <div *ngFor="let option of card.respuesta; let i = index">
                <div *ngIf="option !== '*'; else templateName">
                  <div class="auxliar_span">
                    {{ option }}
                  </div>
                </div>
                <ng-template #templateName>
                  <!-- <span> token </span> -->
                  <mat-chip-list
                    class="drag-drop__chip-container-tasks"
                    cdkDropListOrientation="horizontal"
                  >
                    <mat-chip
                      class="task"
                      *ngIf="card.respuestaAl[card.respuestasBool[i]] !== ''"
                    >
                      {{ card.respuestaAl[card.respuestasBool[i]] }}
                    </mat-chip>
                  </mat-chip-list>
                </ng-template>
              </div>
            </div>
            <div class="dialog__message dialog__message--assistance mb-1">
              List of chips
            </div>
            <mat-chip-list
              class="drag-drop__column--horizontal"
              cdkDropListOrientation="horizontal"
            >
              <mat-chip class="task" *ngFor="let option of card.opciones">
                {{ option }}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <!--button-->

        <!-- matching combo box-->
        <div class="card-question-radio-button" *ngSwitchCase="'5'">
          <div class="container-dialog">
            <div class="dialog__message dialog__message--subtitle">
              Question Section
            </div>
            <div class="card-question__header">
              <mat-form-field
                appearance="outline"
                class="card-question__header--question"
              >
                <mat-label>Instruction Dropbox</mat-label>
                <input
                  readonly
                  [(ngModel)]="card.pregunta"
                  type="text"
                  class="input-form"
                  matInput
                  placeholder="Instruction dorpbox"
                  [ngModelOptions]="{ standalone: true }"
                />
                <mat-icon class="card-question__input-icon" matSuffix
                  >mode_edit</mat-icon
                >
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="card-question__header--score"
              >
                <mat-label>Score</mat-label>
                <input
                  readonly
                  [(ngModel)]="card.puntuacion"
                  type="number"
                  class="input-form"
                  matInput
                  placeholder="Score"
                  [ngModelOptions]="{ standalone: true }"
                />
                <mat-icon class="card-question__input-icon" matSuffix
                  >star</mat-icon
                >
              </mat-form-field>
            </div>
            <div class="divisor-line divisor-line--primary mb-2"></div>
            <div class="dialog__message dialog__message--subtitle mb-2">
              Answer Section
            </div>
            <div class="u__space-between mb-2">
              <div class="match-input match-input__titles--small">
                <div class="match-title__container">
                  <div class="divisor-line divisor-line--secondary"></div>
                  <div class="dialog__message dialog__message--subtitle mx-1">
                    Set Keywords y Matches
                  </div>
                  <div class="divisor-line divisor-line--secondary"></div>
                </div>
              </div>
              <div class="match-input match-input__titles--big">
                <div class="match-title__container">
                  <div class="divisor-line divisor-line--secondary"></div>
                  <div class="dialog__message dialog__message--subtitle mx-1">
                    Set Keywords
                  </div>
                  <div class="divisor-line divisor-line--secondary"></div>
                </div>
                <div class="match-input__icon"></div>
                <div class="match-title__container">
                  <div class="divisor-line divisor-line--secondary"></div>
                  <div class="dialog__message dialog__message--subtitle mx-1">
                    Set Matches
                  </div>
                  <div class="divisor-line divisor-line--secondary"></div>
                </div>
              </div>
            </div>

            <div class="match-combobox__input-box-titles">
              <div class="match-combobox__inputs">
                <div class="dialog-subtitle match-combobox__keyword">
                  <div class="dialog-subtitle__text">
                    <span>Set Keywords</span>
                  </div>
                </div>
                <div class="dialog-subtitle match-combobox__complement">
                  <div class="dialog-subtitle__text">
                    <span>Set Matches</span>
                  </div>
                </div>
              </div>
            </div>

            <div
              class=""
              *ngFor="let opcionMatch of card.opciones; let i = index"
            >
              <div class="u__space-between">
                <div class="match-input">
                  <mat-form-field class="match-input__container">
                    <mat-label>Keyword</mat-label>
                    <input
                      readonly
                      matInput
                      placeholder="Write a keyword"
                      [(ngModel)]="card.opciones[i]"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </mat-form-field>
                  <div class="match-input__icon">
                    <mat-icon inline="true">arrow_forward</mat-icon>
                  </div>
                  <mat-form-field class="match-input__container">
                    <mat-label>Match</mat-label>
                    <input
                      readonly
                      matInput
                      placeholder="Write the match of the keyword"
                      [(ngModel)]="card.respuesta[i]"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u__flex-05 u__vertical-align--center">
        <ng-container *ngIf="card.puntuacion != 0">
          <button mat-mini-fab class="circular-button--primary">
            <mat-icon> check </mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="card.puntuacion == 0">
          <button mat-mini-fab class="circular-button--negative">
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
  <!--#row-->
</div>
