// login buttons
.chip-container {
  width: 20%;
  @include respond-dialogs(tab-lan) {
    //background-color: red;
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
.chip {
  cursor: pointer;
  background-color: $color-primary-white;
  color: $color-primary-blue;
  border: 0.1rem solid $color-primary-blue;
  //opacity: 60%;
  border-radius: 2.5rem;
  font-size: 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1rem;
  margin: 0.75rem;
  &__text {
    margin: 0 0.25rem;
  }
  &__icon {
    margin: 0 0.5rem;
    //vertical-align: middle;
  }
  &:hover {
    transition: 0.3s;
    transform: translateY(-4px);
    background-color: $color-primary-blue;
    color: $color-primary-white;
    //border: 0.1rem solid $color-primary-blue;
    //opacity: 100%;
  }
  &:focus {
    outline: 0;
  }
  &--active {
    background-color: $color-primary-blue;
    color: $color-primary-white;
  }
}

.chip-static {
  border-radius: 2.5rem;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  &__text,
  &__icon {
    color: $color-primary-white;
  }
  &__title {
    color: $color-primary-gray;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
  &__text {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  i {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  &:focus {
    outline: 0;
  }
}
