<mat-dialog-content class="mat-typography">
  <!--combo box-->
  <div class="combo-box-container question-maker">
    <!--combo tipo de preguntas-->
    <div class="combo-box-container--left">
      <div class="combo-box">
        <mat-form-field>
          <mat-label *ngIf="!nuevaPregunta.bloqidtp">Type of Question</mat-label>
          <mat-label *ngIf="nuevaPregunta.bloqidtp" style="color: red;">*Type of Question</mat-label>
          <mat-select
            [(ngModel)]="nuevaPregunta.idTipoPregunta"
            [(value)]="nuevaPregunta.idTipoPregunta"
          >
            <mat-option
              *ngFor="let elemento of tipoPregunta"
              [value]="elemento.value"
            >
              <!-- <mat-icon>{{ elemento.icon }}</mat-icon> -->
              {{ elemento.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--#combo tipo de preguntas-->
      <!--combo tipo de respuestas-->
      <div class="combo-box">
        <mat-form-field>
          <mat-label *ngIf="!nuevaPregunta.bloqidtr">Type of answer</mat-label>
          <mat-label *ngIf="nuevaPregunta.bloqidtr" style="color: red;">*Type of answer</mat-label>
          <mat-select
            [(value)]="nuevaPregunta.idTipoRespuesta"
            (selectionChange)="changeClient($event.value)"
          >
            <mat-option
              *ngFor="let elemento of tipoRespuesta"
              [value]="elemento.value"
            >
              {{ elemento.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--#combo tipo de respuestas-->
    </div>
    <div class="progress-bar__button-actions-container--right">
      <button
        mat-raised-button
        class="progress-bar__button-normal"
        (click)="limpiar()"
      >
        <div class="progress-bar__button-container">
          <mat-icon class="progress-bar__button-normal--icon"
            >clear_all</mat-icon
          >
          <span class="progress-bar__button-normal--text">Clear</span>
        </div>
      </button>
    </div>
    <!--#combo tipo de respuestas-->
  </div>
  <!--#combo box-->
  <!--card-->
  <div class="card-question" [ngSwitch]="nuevaPregunta.idTipoRespuesta">
    <!-- <div class="card__text--no-content">
    </div> -->
    <div class="card-question-radio-button" *ngSwitchCase="'1'">
      <div class="container-dialog">
        <div class="card-question__header">
          <!--input para pregunta-->
          <div class="card-question__header--question">
            <mat-form-field appearance="outline">
              <mat-label *ngIf="!nuevaPregunta.bloqpreg" >Question Name</mat-label>
              <mat-label *ngIf="nuevaPregunta.bloqpreg" style="color: red;">*Question Name</mat-label>
              <input
                [(ngModel)]="nuevaPregunta.pregunta"
                type="text"
                class="input-form"
                matInput
                placeholder="Question Name"
                name="nombre pregunta"
              />
            </mat-form-field>
          </div>
          <!--#input para pregunta-->
          <div class="card-question__header--score">
            <!--input para pregunta-->
            <div class="card-question__input">
              <mat-form-field appearance="outline">
                <mat-label *ngIf="!nuevaPregunta.bloqpunt">Score</mat-label>
                <mat-label *ngIf="nuevaPregunta.bloqpunt" style="color: red;">*Score</mat-label>
                <input
                  type="number"
                  class="input-form"
                  matInput
                  placeholder="Score Name"
                  name="puntuacion"
                  [(ngModel)]="nuevaPregunta.puntuacion"
                />
              </mat-form-field>
            </div>
            <!--#input para pregunta-->
          </div>
        </div>
        
        <h5 *ngIf="nuevaPregunta.bloqopci" style="color: red;">*Check the answers</h5>
  
        <div class="card-question__content">
          <!-- <form class="example-form"> -->
          <mat-radio-group
            aria-label="Select an option"
            class="example-radio-group"
            name="radiobuttons"
            [(ngModel)]="nuevaPregunta.respuesta[0]"
          >
            <!-- radio button option -->
            <mat-radio-button
              class="card-question__choice"
              *ngFor="let opcion of radioButtonOpciones; let i = index"
              [value]="i"
            >
              <mat-form-field class="full-width-field">
                <input
                  [(ngModel)]="opcion.opcionRespuesta"
                  [ngModelOptions]="{standalone: true}"
                  class="card-question__choice--input"
                  matInput
                  placeholder="opcion"
                />
              </mat-form-field>
              <button class="card-question__choice--button-delete">
                <mat-icon
                  class="card-question__choice--button-delete-icon"
                  (click)="eliminarElemento(i)"
                  >close</mat-icon
                >
              </button>
              <!--#radio button option-->
            </mat-radio-button>
          </mat-radio-group>
          <button mat-mini-fab class="card-question__button--add" (click)="agregarRespuesta()">
            <mat-icon >add</mat-icon>
          </button>
          <!-- </form> -->
        </div>
      </div>
    </div>

    <!-- #radio button question-->
    <!-- checkbox question-->
    <div class="card-question-radio-button" *ngSwitchCase="'2'">
      <div class="container-dialog">
        <div class="card-question__header">
          <!--input para pregunta-->
          <div class="card-question__header--question">
            <mat-form-field appearance="outline">
              <mat-label *ngIf="!nuevaPregunta.bloqpreg" >Question Name</mat-label>
              <mat-label *ngIf="nuevaPregunta.bloqpreg" style="color: red;">*Question Name</mat-label>
               <input
                [(ngModel)]="nuevaPregunta.pregunta"
                type="text"
                class="input-form"
                matInput
                placeholder="Question Name"
                name="nombre pregunta"
              />
            </mat-form-field>
          </div>
          <!--#input para pregunta-->
          <div class="card-question__header--score">
            <!--input para pregunta-->
            <div class="card-question__input">
              <mat-form-field appearance="outline">
                <mat-label *ngIf="!nuevaPregunta.bloqpunt">Score</mat-label>
                <mat-label *ngIf="nuevaPregunta.bloqpunt" style="color: red;">*Score</mat-label>
                <input
                  type="number"
                  class="input-form"
                  matInput
                  placeholder="Score Name"
                  name="puntuacion"
                  [(ngModel)]="nuevaPregunta.puntuacion"
                />
              </mat-form-field>
            </div>
            <!--#input para pregunta-->
          </div>
        </div>
        <h5 *ngIf="nuevaPregunta.bloqopci" style="color: red;">*Check the answers</h5>
  
        <div class="card-question__content">
          <!-- <form class="example-form"> -->
          <!-- radio button option -->
          <mat-checkbox
            class="card-question__choice"
            *ngFor="let opcionesCB of checkboxOpciones; let i = index"
            [(ngModel)]="checkboxOpciones[i].isChecked"
          >
            <mat-form-field class="full-width-field">
              <input
                [(ngModel)]="checkboxOpciones[i].opcionRespuesta"
                name="a{{ i }}"
                class="card-question__choice--input"
                matInput
                placeholder="opcion"
              />
            </mat-form-field>
            <button 
            
            (click)="eliminarElemento(i)"
            class="card-question__choice--button-delete">
              <mat-icon
                class="card-question__choice--button-delete-icon"
                >close</mat-icon
              >
            </button>
            <!--#radio button option-->
          </mat-checkbox>

          <button 
          (click)="agregarRespuesta()"
          mat-mini-fab class="card-question__button--add">
            <mat-icon 
              >add</mat-icon
            >
          </button>
          <!-- </form> -->
        </div>
      </div>
    </div>
    <!-- #checkbox question-->
  </div>
  <!--#card-->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="progress-bar__container-mix">
    <button mat-raised-button class="progress-bar__button-negative"
    (click)="cancelar()">
      <span class="progress-bar__button-normal--text">Cancel</span>
    </button>
    <button 
    (click)="agregarPreguntaEnContenido()"
    mat-raised-button class="progress-bar__button-normal">
      <span
        class="progress-bar__button-normal--text"
        >Add question</span
      >
    </button>
  </div>
</mat-dialog-actions>
