.contenedorBuilding{
    width: 120rem;
    height: 100%;
    
    display: flex;
    margin: auto;
    &__container {
    display: flex;
    &-building {
    display: flex;
        &--left-side {
            flex: 0 1 50%;
            justify-content: center;
            margin: auto;
        }
        &--right-side {
            flex: 1;
            align-items: center;
            display: flex;
            justify-content: center;
            }
        }
    }
}
.margin{
    margin: 8rem 0;
}

.titleBuilding{
    font-weight: 600;
    color: $color_primary_blue;
    font-size: 11rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.subtitleBuilding{
     color: $color_primary_blue;
     margin: auto;
     font-size:1.5rem;
 }
 .gif{
     width: 50rem;
     height: 60rem;
 }