@import "1-helpers/variables";
@import "1-helpers/mixins";
@import "3-basics/links";
.card-container {
  @include center();
}
.cols {
  display: flex;
  justify-content: center;
}
.classroom-card {
  @include custom-card(27rem, 16rem, $color-primary-white);
  cursor: pointer;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: $color-primary-black;
  padding: 3rem;
  &__description-classroom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 1 25%;
    font-size: 2.25rem;
  }
  &__description-detail {
    flex: 1;
    //background-color: orange;
    // @include custom-title(0rem, 1.5rem, $color-primary-black);
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 !important;
    i {
      flex: 0 1 12.5%;
      align-items: center;
      justify-content: center;
      //background-color: yellow;
    }
    &-text {
      flex: 1;
    }
  }
  &__description-semester {
    flex: 0 1 10%;
    //background-color: green;
    // @include custom-title(0rem, 1.5rem, );
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // padding-left: 40rem;
  }
  &:hover {
    background-color: lighten($color-primary-blue, 7.5%);
    color: $color-primary-white;
    transition: all 0.3s ease;
  }
}

.bg-top-img {
  background-color: orange;
  width: 100%;
  height: 50vh;
  background-image: url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba($color: $color-primary-blue, $alpha: 0.85);
    color: $color-primary-white;
    font-weight: $font-weight-regular;
  }
}

@media only screen and (max-width: 767px) {
  .card-container {
    margin-top: 15rem;
  }
}
@media only screen and (max-width: 991px) {
  .card-container {
    margin-top: 15rem;
  }
}
@media only screen and (max-width: 1199px) {
  .card-container {
    margin-top: 15rem;
  }
}
