@import "1-helpers/variables";
@import "3-basics/links";
.card-container {
  @include center();
  
}
.cols{
  display: flex;
  justify-content: center;
}
.classroom-card {
  @include custom-card(27rem, 16rem, $color-primary-white);
  cursor: pointer;
  margin: auto;
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  color: $color-primary-black;
  padding: 3rem;
  &__description-classroom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 1 25%;
    font-size: 2.25rem;
    //background-color: red;
    //@include custom-title(0rem, 3.5rem, $color-primary-black);
    // padding-left: 25rem;
    // padding-top: 1rem;
    // padding-bottom: 9rem;
  }
  &__description-detail {
    flex: 1;
    //background-color: orange;
    // @include custom-title(0rem, 1.5rem, $color-primary-black);
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    i {
      flex: 0 1 12.5%;
      align-items: center;
      justify-content: center;
      //background-color: yellow;
    }
    &-text{
      flex: 1;
    }
    
  }
  &__description-semester {
    flex: 0 1 10%;
    //background-color: green;
    // @include custom-title(0rem, 1.5rem, );
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // padding-left: 40rem;
  }
  &:hover {
    background-color: $color-primary-blue;
    color: $color-primary-white;
    transition: all 0.3s ease;
  }
}
@media only screen and (max-width: 767px) {
  .card-container {
    margin-top: 15rem;
  }
}
@media only screen and (max-width: 991px) {
  .card-container {
    margin-top: 15rem;
  }
}
