@import "1-helpers/variables";
@import "1-helpers/mixins";
.subtitle {
  margin-top: 4rem;
  width: 100%;
  &__content {
    border-bottom: 0.5rem solid $color-primary-blue;
  }
  &__text {
    //background-color: $color-primary-blue;
    padding-bottom: 1.75rem;
    font-size: 2.5rem;
    color: $color-primary-blue;
    // border-radius: 2rem 2rem 0rem 0rem;
    border-bottom: 0.2rem solid $color-primary-blue;
  }
}
.dialog-subtitle {
  margin-bottom: 1.5rem;
  width: 100%;
  &__content {
    border-bottom: 0.5rem solid $color-primary-blue;
  }
  &__text {
    padding-bottom: 1rem;
    font-size: 2rem;
    color: $color-primary-blue;
    // border-radius: 2rem 2rem 0rem 0rem;
    border-bottom: 0.2rem solid $color-primary-blue;
  }
}

.subtitle-compound {
  display: flex;
  border-bottom: 0.2rem solid $color-primary-blue;
  margin-top: 4rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  &__text {
    font-size: 2.5rem;
    color: $color-primary-blue;
  }
  // &__buttons-container {
  //   //background-color: red;
  // }
}
.dialog-subtitle-compound {
  margin-bottom: 1.5rem;
  display: flex;
  border-bottom: 0.2rem solid $color-primary-blue;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  &__text {
    font-size: 2rem;
    color: $color-primary-blue;
  }
}

