@import "1-helpers/variables";
@import "1-helpers/mixins";

.custom-card {
  @include custom-card-dinamic(26rem, 16rem, $color-primary-white);
  //cursor: pointer;
  &__img {
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1525571453712-090270b8354f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    display: block;
    position: relative;
    &-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(
        $color: $color-card-themes,
        $alpha: $opacity-custom-card
      );
      color: $color-primary-white;
    }
  }
  &__img-overlay {
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
  }
  &__buttons-card {
    //background-color: orange;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 1 30%;
  }
  &__content-card {
    //background-color: green;
    flex: 1;
  }
  &__description-theme {
    //background-color: red;
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    //justify-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    &--title {
      //padding: 0.5rem;
      font-size: 2rem;
      margin: 0.5rem 0;
    }
    &--subtitle {
      //padding: 0.5rem;
      font-size: 1.5rem;
      font-style: italic;
      margin-top: 0.5rem 0;
    }
  }
  &:hover {
    @include custom-card-dinamic(27rem, 17rem, $color-primary-white);
    transition: all 0.1s ease;
  }
}
