@import "1-helpers/variables";
@import "1-helpers/mixins";
.subtitle {
  width: 100%;
  &__content {
    display: flex;
    overflow: hidden;
    background-color: yellow;
  }
  &__text {
    background-color: greenyellow;
    border-top: 0.2rem solid $color-primary-blue;
    padding: 2rem;
    font-size: 3rem;
    color: $color-primary-blue;
    &:before {
      background-color: greenyellow;
      border-top: 0.2rem solid $color-primary-blue;
      font-size: 3rem;
      color: $color-primary-blue;
      transform: rotate(45deg);
      width: 10rem;
    }
  }
  // &__curve {
  //   background-color: rosybrown;
  //   border-top: 0.3rem solid $color-primary-blue;
  //   width: 25rem;
  //   transform: rotate(45deg);
  //   z-index: 1;
  // }
  &__line {
    background-color: skyblue;
    width: 100%;
    border-bottom: 0.2rem solid $color-primary-blue;
  }
}
