.drag-drop__header {
  background-color: skyblue;
}
.drag-drop__maker {
  display: flex;
  justify-content: space-between;
}
.drag-drop__add-option {
  display: flex;
  align-items: center;
  background-color: slateblue;
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}
.drag-drop__chips--horizontal {
  background-color: greenyellow;
  margin-bottom: 1rem;
}
// .example-chip-list {
//   width: 100%;
// }
.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.mat-chip.mat-standard-chip {
  background-color: $color-primary-blue !important;

  color: $color-primary-white !important;
  margin: 0.5rem 0rem;
}
.mat-chip.mat-standard-chip .mat-chip-remove {
  color: $color-primary-white !important;
  opacity: 1 !important;
}

// drag and drop
.drag-drop {
  &__wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
  }
  &__columns {
    display: flex;
    flex-grow: 1;
  }
  &__column {
    display: flex;
    flex-direction: column;
    background: rgba($color-primary-blue, 0.5);
    flex-grow: 1;
    flex-basis: 0;
    min-width: 100px;
    padding: 10px;
    margin: 3rem 1rem;
    border-radius: 4px;
    &:not(:first-child) {
      margin-left: 0;
    }
  }
  &__column-title {
    font-size: 1.25rem;
    color: $color-primary-white;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 500;
  }
  &__task-container {
    flex-grow: 1;
  }

  // &__task {
  //   display: flex;
  //   padding: 15px;
  //   background-color: $color-primary-white;
  //   border-bottom: solid 1px #ddd;
  // }
}
//#drag and drop
