@import "1-helpers/variables";
.login-card {
  width: 900px;
  height: 450px;
  background-color: $color-primary-white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: flex;
  margin: auto;
  overflow: hidden;
  &__left-side {
    flex: 0 0 50%;
    //background-color: rgba($color: $color-primary-blue, $alpha: 0.7);
  }
  &__right-side {
    flex: 1;
    background-color: white;
    border-radius: 0 30px 30px 0;
  
  }
  &__img {
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1525571453712-090270b8354f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    display: block;
    background-size: cover;
    position: relative;
  }
  &__overlay-img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($color: $color-primary-blue, $alpha: 0.7);
    color: $color-primary-white;
    //padding: 20px;
    // display: block;
  }
  &__overlay-text {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 40px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 20px;
  }

  &__type-users-buttons{
    margin-left: 160px;
    margin-top: 20px;
  }
  &__title{
    margin-left: 100px;
    margin-top: 40px;
    font-family: "Roboto";
    font-weight: 200;
    font-size: 30px;
  }
  &__description{
    width: 400px;
    margin-left: 70px;
    margin-top: 40px;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 15px;
  }
}
