.match-combobox__input-box {
  display: flex;
  align-items: center;
  //background-color: orangered;
  justify-content: space-between;
}
.match-combobox__inputs {
  //background-color: plum;
  display: flex;
  width: 100%;
}
.match-combobox {
  &__keyword {
    //background-color: orchid;
    flex: 0 1 25%;
    margin-right: 1rem;
    //width: 25%;
  }
  &__complement {
    //width: 70%;
    //background-color: palegoldenrod;
    flex: 1;
    margin-right: 1rem;
  }
}

.match-combobox__choice {
  &--button-delete {
    background-color: $color-primary-red !important;
  }
  &--button-add {
    background-color: $color-primary-blue !important;
  }
  &--button-delete-icon,
  &--button-add-icon {
    color: white !important;
  }
}
.match-combobox__add {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
