.card {
  margin-top: 2rem;
  padding: 4rem 0rem;
  border: 0.15rem solid $color-primary-blue;
  border-radius: 1rem;
  mat-form-field {
    width: 100%;
  }
  &__text {
    &--no-content {
      color: $color-primary-gray;
      font-size: 2rem;
      display: flex;
      justify-content: center;
    }
  }
}
