.question-card-added {
  //padding: 1rem;
  margin: 2rem 4rem;
  display: flex;
  &__content {
    background-color: $color-secondary-gray;
    flex: 0 1 90%;
    padding: 2rem 2rem;
    //background-color: red;
    border: $border-radious-1 solid $color-primary-blue;
    border-radius: $border-radious-1;
  }
  &__button {
    //background-color: green;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background-color: yellow;
    align-items: center;
    &--positive {
      background-color: $color-primary-blue !important;
      margin-bottom: 0.5rem !important;
    }
    &--negative {
      margin-top: 0.5rem !important;
      background-color: $color-primary-red !important;
    }
  }

  //---------
  &__header {
    //background-color: red;
    margin-top: 2rem;
    //background-color: yellow;
    display: flex;
    align-items: center;
    &--question {
      //background-color: yellow;
      flex: 0 1 85%;
      margin-right: 1rem;
    }
    &--score {
      flex: 1;
      margin-left: 1rem;
    }
  }

  &__content-question {
    //background-color: red;
    //display: flex;
    //flex-direction: column;
    &-inputs {
      width: 100%;
    }
    .mat-form-field-infix {
      width: 75rem !important;
    }
  }

  &__choice {
    //background-color: yellow;
    display: flex;
    align-items: center;
    //margin-bottom: 1rem;
    //width: 100%;
    &--button-delete {
      background-color: $color-primary-white;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      border: none;
      outline: none;
      &-icon {
        color: $color-primary-gray;
      }
      &:hover {
        background-color: lighten($color-primary-gray, 50%);
        transition: 0.75s;
        cursor: pointer;
      }
      .mat-icon {
        vertical-align: middle;
      }
    }
  }
  .card-question {
    background-color: red;
    border: $card-width solid $color-primary-blue;
    border-radius: $border-radious-1;
    mat-form-field {
      width: 100%;
    }
    &__text {
      &--no-content {
        color: $color-primary-gray;
        font-size: 2rem;
        display: flex;
        justify-content: center;
      }
    }

    &__button--add {
      background-color: $color-primary-blue !important;
      margin-bottom: 2rem !important;
    }
    .example-radio-group {
      display: flex;
      flex-direction: column;
    }
  }
}
