@import "1-helpers/mixins";
.modal-header {
  //background-color: yellow;
}
.question-maker-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: red;
  &__container-mix {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    //background-color: red;
  }
  &__button-actions-container--right {
    //background-color: red;
    //justify-content: right;
  }
  &__choose-buttons-container {
    margin-top: 2rem;
    &.col {
      background-color: red;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
  }
  &__text {
    &-previous {
      margin-left: 1rem;
      color: $color-primary-blue;
      font-size: 2rem;
      cursor: pointer;
    }
    &-next {
      margin-right: 1rem;
      color: $color-primary-blue;
      font-size: 2rem;
      cursor: pointer;
    }
  }
  &__button {
    &-container {
      display: flex;
      align-items: center;
      //background-color: orange;
    }
    &-normal {
      //margin-left: 1rem;
      margin-left: 1rem !important;
      //padding: 0.5rem 0.75rem !important;
      background-color: $color-primary-blue !important;
      color: $color-primary-white !important;

      &--icon {
        @include margin-left-right(0.5rem, 0.5rem);
      }
      &--text {
        @include margin-left-right(0.5rem, 0.5rem);
      }
    }
    &-negative {
      //margin-left: 1rem;
      //padding: 0.5rem 0.75rem !important;
      background-color: $color-primary-red !important;
      color: $color-primary-white !important;

      &--icon {
        @include margin-left-right(0.5rem, 0.5rem);
      }
      &--text {
        @include margin-left-right(0.5rem, 0.5rem);
      }
    }
  }
  &__bar {
    margin-top: 4rem;
    display: flex;
    //background-color: green;
    justify-content: space-between;
    &--circle {
      height: 3rem;
      width: 3rem;
      border: 0.2rem solid $color-primary-blue;
      border-radius: 50%;
      opacity: 25%;
      &.active {
        border: 0.275rem solid $color-primary-blue;
        opacity: 100%;
        transition: 0.5s;
      }
    }
    &--row {
      border: 0.15rem solid $color-primary-blue;
      width: 4rem;
      opacity: 25%;
      &.active {
        opacity: 100%;
        transition: 0.5s;
      }
    }
  }
}
.mat-step-icon-selected {
  background-color: $color-primary-blue !important;
}
.mat-step-icon-state-edit {
  background-color: $color-secondary-blue !important;
}
.button-icon-container {
}
