.radio-button-question {
  //background-color: red;
  &__choice {
    display: flex;
    //background-color: orange;
    align-items: center;
    width: 100%;
    &--input {
      width: 100%;
    }
    .mat-radio-label-content {
      width: 100%;
      display: flex !important;
      //background-color: yellowgreen;
      align-items: center !important;
    }
  }

  &__mat-form-field {
    //display: flex;
    //background-color: violet;
    width: 100%;
  }
}
