@import "1-helpers/mixins";
.simple-dialog {
  margin: 1rem 1rem;
  .mat-icon {
    vertical-align: middle !important;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem 0rem;
  }
  &__title {
    font-size: 2rem;
    margin-top: 2rem;
    &--error {
      color: $color-primary-red;
    }
    &--good {
      color: $color-primary-blue;
    }
    &--warning {
      color: $color-primary-orange;
    }
  }
  &__icon-content {
    border-radius: 50%;
    padding: 1rem;
    &--error {
      border: 0.25rem solid $color-primary-red;
    }
    &--good {
      border: 0.25rem solid $color-primary-blue;
    }
    &--warning {
      border: 0.25rem solid $color-primary-orange;
    }
  }
  &__icon {
    font-size: 3rem;
    height: 3rem !important;
    width: 3rem !important;
    &--error {
      color: $color-primary-red;
    }
    &--good {
      color: $color-primary-blue;
    }
    &--warning {
      color: $color-primary-orange;
    }
  }
  &__message {
    margin-top: 1rem;
    color: $color-primary-gray;
    font-size: 1.5rem;
    text-align: center;
  }
}
