<div class="dialog">
  <!--subtitle-->
  <div class="dialog-subtitle">
    <div class="dialog-subtitle__text">
      <span>Add Forum</span>
    </div>
  </div>
  <!--#subtitle-->
  <mat-dialog-content class="mat-typography">
    <form class="dialogforms" enctype="multipart/form-data">
      <mat-form-field appearance="outline">
        <mat-label>Forum's Name</mat-label>
        <!-- Input para el nombre del foro-->
        <input
          type="text"
          class="input-form"
          matInput
          placeholder="Forum's Name"
          name="nombre foro"
        />
        <!-- //Input para el nombre del foro-->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Forum Description</mat-label>
        <!-- Input para la descripcion del foro-->
        <input
          type="text"
          class="input-form"
          matInput
          placeholder="Write the description here"
          name="descripcion foro"
        />
        <!-- //Input para la descripcion del foro-->
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <!-- <div class="dialog__container"> -->
  <div class="row">
    <div class="col-sm-6">
      <!--subtitle-->
      <div class="dialog-subtitle">
        <div class="dialog-subtitle__text">
          <span>Start date and hour</span>
        </div>
      </div>
      <!--#subtitle-->
      <!--date-->
      <div class="dialog__container--left-side">
        <mat-form-field color="accent">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker1" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <!--#date-->
      <!--hora-->
      <div class="toggle-example">
        <mat-form-field>
          <mat-label>Choose an hour</mat-label>
          <input
            matInput
            [ngxTimepicker]="toggleTimepicker1"
            [disableClick]="true"
            readonly
          />
          <ngx-material-timepicker-toggle
            matSuffix
            [for]="toggleTimepicker1"
          ></ngx-material-timepicker-toggle>
          <ngx-material-timepicker #toggleTimepicker1></ngx-material-timepicker>
        </mat-form-field>
      </div>
      <!--#hora-->
    </div>
    <div class="col-ms-6">
      <!--subtitle-->
      <div class="dialog-subtitle">
        <div class="dialog-subtitle__text">
          <span>End date and hour</span>
        </div>
      </div>
      <!--#subtitle-->
      <!--date-->
      <div class="dialog__container--right-side">
        <mat-form-field color="accent">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="picker2" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
      <!--#date-->
      <!--hora-->

      <div class="toggle-example">
        <mat-form-field>
          <mat-label>Choose an hour</mat-label>
          <input
            matInput
            [ngxTimepicker]="toggleTimepicker2"
            [disableClick]="true"
            readonly
          />
          <ngx-material-timepicker-toggle
            matSuffix
            [for]="toggleTimepicker2"
          ></ngx-material-timepicker-toggle>
          <ngx-material-timepicker #toggleTimepicker2></ngx-material-timepicker>
        </mat-form-field>
      </div>
      <!--#hora-->
    </div>
  </div>

  <!-- </div> -->
  <mat-dialog-actions align="end">
    <!--cancel btn-->
    <button mat-button mat-dialog-close class="dialog-button-cancel">
      Cancel
    </button>
    <!--#cancel btn-->
    <!--accept btn-->
    <button mat-button class="dialog-button-accept">
      Accept
    </button>
    <!--#accept btn-->
  </mat-dialog-actions>
</div>
