<div class=subtitle>
    <div class="subtitle__left-side">
        <div class="subtitle__line1"></div>
        <div class="subtitle__text">
            <p>Themes</p>
        </div>
    </div>
    <div class="subtitle__right-side">
        <div class="subtitle__line1"></div>
    </div>
</div>


<div class="custom-card">
    <div class="custom-card__img">
        <div class="custom-card__img-overlay">
            <div class="custom-card__buttons-card">
                <ul fxLayout="row" fxLayoutGap="20px">
                    <li>
                        <button class="circular-button1" mat-mini-fab>
                            <mat-icon class="circular-button1__icon">
                                <i class="fas fa-cog"></i>
                            </mat-icon>
                        </button>
                    </li>
                    <li>
                        <button class="circular-button1" mat-mini-fab>
                            <mat-icon class="circular-button1__icon">
                                <i class="fas fa-trash"></i>
                            </mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="custom-card__empty"></div>
            <p class="custom-card__description-detail-title">{{ tema }}</p>
            <p class="custom-card__description-detail-subtitle">{{ descripcion }}</p>
        </div>
    </div>
</div>