<div class="container">
  <!-- botton de agregar seccion -->
  <button class="module-button" (click)="agregarSeccion()">
    <i class="fas fa-plus module-button__icon"></i>
    <div class="module-button__text">
      Add section
    </div>
  </button>
  <!-- //botton de agregar seccion -->
  <!--Subtitle-->
  <div class="subtitle-compound">
    <div class="subtitle-compound__text">
      <span>Resources</span>
    </div>
    <div class="subtitle-compound__buttons-container">
      <!--Add button-->
      <button class="circular-button-subtitle" mat-mini-fab>
        <mat-icon class="circular-button-subtitle__icon">add</mat-icon>
      </button>
      <!--#Add button-->
      <!--Add button-->
      <button class="circular-button-subtitle" mat-mini-fab>
        <mat-icon class="circular-button-subtitle__icon">edit</mat-icon>
      </button>
      <!--#Add button-->
      <!--Add button-->
      <button class="circular-button-subtitle--negative" mat-mini-fab>
        <mat-icon class="circular-button-subtitle__icon">delete</mat-icon>
      </button>
      <!--#Add button-->
    </div>
  </div>
  <!--#Subtitle-->
</div>
