<div class="container">
  <div class="u__flex--flex-start mt-3">
    <button class="chip-button chip-button--primary" (click)="agregarSeccion()">
      <i class="fas fa-plus chip-button__icon"></i>
      <div class="chip-button__text">Add section</div>
    </button>
  </div>

  <div *ngFor="let seccion of ListaSecciones; let i = index">
    <div class="subtitle-compound">
      <div class="subtitle-compound__text">
        <span>{{ seccion.nombreSeccion }}</span>
      </div>
      <div class="subtitle-compound__buttons-container">
        <button
          class="circular-button-subtitle"
          mat-mini-fab
          (click)="agregarDocumento(seccion)"
        >
          <mat-icon class="circular-button-subtitle__icon">add</mat-icon>
        </button>
        <button
          class="circular-button-subtitle"
          mat-mini-fab
          (click)="editarSeccion(seccion, i)"
        >
          <mat-icon class="circular-button-subtitle__icon">edit</mat-icon>
        </button>
        <button
          class="circular-button-subtitle--negative"
          mat-mini-fab
          (click)="eliminarSeccion(seccion, i)"
        >
          <mat-icon class="circular-button-subtitle__icon">delete</mat-icon>
        </button>
      </div>
    </div>
    <table
      mat-table
      [dataSource]="seccion.resourceContent"
      matSort
      class="mat-header-row mat-elevation-z8"
    >
      <ng-container matColumnDef="tipoDocumento">
        <th mat-header-cell *matHeaderCellDef class="header-table">Type</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="mat-cell"
          [ngSwitch]="element.tipo"
        >
          <mat-icon class="resource_type_icon" *ngSwitchCase="1">
            insert_drive_file
          </mat-icon>
          <mat-icon class="resource_type_icon" *ngSwitchCase="2">
            video_library
          </mat-icon>
          <mat-icon class="resource_type_icon" *ngSwitchCase="3">
            fiber_manual_record
          </mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="nombreDocumento">
        <th mat-header-cell *matHeaderCellDef class="header-table">
          Document's Name
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.nombre }}
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="header-table">Actions</th>
        <td mat-cell *matCellDef="let element2; let x = index">
          <button
            class="circular-button-table--normal"
            mat-mini-fab
            (click)="descargarArchivo(element2)"
          >
            <mat-icon class="circular-button-table__icon"
              >file_download</mat-icon
            >
          </button>
          <button
            class="circular-button-table--normal"
            (click)="editarDocumento(element2)"
            mat-mini-fab
          >
            <span class="circular-button-table__icon"
              ><i class="fas fa-pencil-alt"></i>
            </span>
          </button>
          <button
            class="circular-button-table--negative"
            (click)="eliminarDocumento(element2, i, x)"
            mat-mini-fab
          >
            <span class="circular-button-table__icon"
              ><i class="fas fa-trash"></i>
            </span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        class="header-table__hover"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <!--#tables-->
    <!-- Paginator -->
    <mat-paginator
      [pageSizeOptions]="[10, 20]"
      showFirstLastButtons
    ></mat-paginator>
    <!-- #Paginator -->
  </div>
</div>
