<div class="center">
  <div class="row">
    <div class="col-md-6 u__vertical-align--space-evenly">
      <div class="h-5 l-h-7">Sorry , this page isn't available</div>
      <div class="h-3 l-h-5">
        The page you were looking for couldn't be found
      </div>
      <div class="buttonBuilding">
        <button
          mat-raised-button
          class="circular-button--primary"
          (click)="goDashboard()"
        >
          Go to HomePage
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="contenedorBuilding__img">
        <img [src]="imageUrl" class="gif" />
      </div>
    </div>
  </div>
</div>
