<div class="contenedorBuilding">

    <div class="contenedorBuilding__container-building">
        <div class="contenedorBuilding__container-building--left-side">
            <div class="margin">
                <p class="titleBuilding">Sorry, this
                </p>
                <div class="margin">
                    <p class="titleBuilding">
                        page isn't </p>
                </div>
                <div class="margin">
                    <p class="titleBuilding">
                        available</p>
                </div>
            </div>
            <p class="subtitleBuilding">The page you were looking for couldn't be found</p>

        </div>
        <div class="contenedorBuilding__container-building--right-side">
            <img [src]="imageUrl" class="gif" />
        </div>
    </div>
</div>