<div class="container">
  <div class="contenedorBuilding">
    <div class="row">
      <div class="col-md-6">
        <div class="contenedorBuilding__words">
          <div class="titleBuilding">Sorry , this page isn't available</div>
          <div class="subtitleBuilding">
            The page you were looking for couldn't be found
          </div>

            <div class="buttonBuilding">
              <button mat-raised-button class="buttonBuildingPage" (click)="goBack()">
                Go to dashboard
              </button>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contenedorBuilding__img">
          <img [src]="imageUrl" class="gif" />
        </div>
      </div>
    </div>

  </div>
</div>