@import "1-helpers/variables";
@import "1-helpers/mixins";
.header {
  //padding: 2rem 0;
  background-color: $color-primary-red !important;
  //padding:0!important;
  &__container {
    background-color: transparent !important;
    padding: 5rem 0rem !important;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    color: $color-primary-white;
    font-size: 3rem;
    font-weight: $font-weight-regular;
    //display: flex;
    justify-content: flex-end;
  }
  &__buttons {
    //display: flex;
    justify-content: flex-start;
  }
}
.user-card {
  margin-top: 1.5rem;
  //background-color: blue!important;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 3rem;
  }
  &__icon {
    background-color: $color-primary-blue !important;
    color: $color-primary-white !important;
    margin-bottom: 1rem !important;
  }
  &__first-word {
    color: $color-primary-white;
    font-size: 2rem;
    font-weight: $font-weight-regular;
  }

  &__name {
    @include custom-title-regular(0.5rem, 1.75rem, $color-primary-blue);
  }
  &__lastname {
    @include custom-title-regular(0.5rem, 1.75rem, $color-primary-blue);
  }
  &__email {
    @include custom-title-regular(0.5rem, 1.25rem, $color-primary-gray);
  }
  &__classroom {
    @include custom-title-regular(0.5rem, 1.75rem, $color-primary-blue);
  }
  &__button-logout {
    margin-top: 1rem !important;
    color: $color-primary-gray !important;
  }
}

.notification-card {
  //background-color: blue!important;
  margin-top: 1.5rem;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 3rem;
    //background-color: blue;
  }
  &__notification {
    @include custom-title-regular(1rem, 1.75rem, $color-primary-blue);
  }
}

.classroom-choose-card {
  margin-top: 1.5rem;
  //background-color: blue!important;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 3rem;
    //background-color: blue;
  }
  &__classroom {
    @include custom-title-regular(0.5rem, 1.75rem, $color-primary-blue);
    cursor: pointer;
    padding: 0.75rem 1rem;
    width: 100%;
    text-align: center;
    &:hover {
      border-radius: 5px;
      color: $color-primary-white;
      background-color: $color-primary-blue;
    }
  }
}
