//------------------TITLE-----------------------
//custom title usually for title/subtitle
@mixin custom-title($margin, $font-size, $color) {
  margin: $margin;
  font-weight: $font-weight-light;
  font-size: $font-size;
  color: $color;
  align-items: center;
}
@mixin custom-title-regular($margin, $font-size, $color) {
  margin: $margin;
  font-weight: $font-weight-regular;
  font-size: $font-size;
  color: $color;
  align-items: center;
}
//----------------//TITLE-----------------------
