//WHITE COLORS
$color-primary-white: #ffffff;

//BLACK COLORS
$color-primary-black: #000000;

//RED COLORS
$color-primary-red: #ca5a5d;

//WARNING COLORS
$color-primary-gray: #707070;
$color-secondary-gray: #ebebe4;

//BLUE COLORS
$color-primary-blue: #084c61;
$color-secondary-blue: #83a5af;

//BLUE COLORS
$color-primary-orange: #ffae42;

//FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

//card colors
$color-card-themes: #8f8f8f;
$color-card-lessons: #d77a61;
$color-card-practices: #498161;
$color-card-attendance: #9c5faf;
$color-card-themes-test: #403837;
$color-card-assessment: #27649b;
//optionals
// $color-card-option-1: #ef8ec8;
$color-card-option-1: #6ab1b4;
$color-card-option-2: #c7cc77;
//

//extra colors
$color-primary-excel: #008000;

$color-box-shadow: rgba(0, 0, 0, 0.25);

$opacity-custom-card: 0.75;
$hover-custom-card: 10;

$border-radious-standard: 1rem;
$card-width: 0.15rem;
