$text-color: green;
//WHITE COLORS
$color-primary-white: #ffffff;

//BLACK COLORS
$color-primary-black: #000000;

//RED COLORS
$color-primary-red: #ca5a5d;

//WARNING COLORS
$color-primary-gray: #707070;

//BLUE COLORS
$color-primary-blue: #084c61;
$color-secondary-blue: #83a5af;

//FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

//card colors
$color-card-themes: #8f8f8f;
$color-card-practices:#D77A61;
//
$opacity-custom-card :0.75;
$hover-custom-card : 20;
