<div class="dialog">
    <!--subtitle-->
    <div class="dialog-subtitle">
      <div class="dialog-subtitle__text">
        <span>Edit Section</span>
      </div>
    </div>
    <!--#subtitle-->
    <mat-dialog-content class="mat-typography">
      <form class="dialogforms" enctype="multipart/form-data">
        <mat-form-field appearance="outline" class="input-disabled" (dblclick)='toggleDisable()'>
          <mat-label>Section's Name</mat-label>
          <!-- Input para el nombre de la seccion-->
          <input
          [disabled]='disableTextbox'
            type="text"
            class="input-form"
            matInput
            placeholder=""
            name="nombre seccion"
           
          />
          <!-- //Input para el nombre de la seccion-->
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <!--cancel btn-->
      <button mat-button mat-dialog-close class="dialog-button-cancel">
        Cancel
      </button>
      <!--#cancel btn-->
      <!--accept btn-->
      <button mat-button class="dialog-button-accept" >
        Accept
      </button>
      <!--#accept btn-->
    </mat-dialog-actions>
  </div>
  