
<app-loading #loading></app-loading>
<mat-drawer-container>
  <mat-drawer
    class="sidebar"
    mode="side"
    [class.menu-open]="isSidebarOpen2"
    [class.menu-close]="!isSidebarOpen2"
    opened
  >
    <app-sidebar (openEvent)="receiveOpen($event)" #sidenav></app-sidebar>
  </mat-drawer>
  <mat-drawer-content [ngStyle]="{ 'margin-left.rem': contentMargin }">
    <app-header></app-header>
    <router-outlet>
      <button
        (click)="backClicked()"
        class="circular-back-button"
        mat-fab
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon class="circular-back-button__icon"
          >keyboard_backspace</mat-icon
        >
      </button></router-outlet
    >
  </mat-drawer-content>
</mat-drawer-container>
<!-- <app-footer></app-footer> -->
