<div class="dialog">
  <!--subtitle-->
  <div class="dialog-subtitle">
    <div class="dialog-subtitle__text">
      <span>Add Document</span>
    </div>
  </div>
  <!--#subtitle-->
  <mat-dialog-content class="mat-typography">
    <form class="dialogforms" enctype="multipart/form-data">
      <mat-form-field appearance="outline" class="input-disabled">
        <mat-label>Document's Name</mat-label>
        <!-- Input para el nombre de la seccion-->
        <input
          type="text"
          class="input-form"
          matInput
          placeholder=""
          [(ngModel)]="nombre"
          name="email academico"
          maxlength="100"
          #nombreM
        />
        <mat-hint align="end">{{nombreM.value.length}} / 100</mat-hint>
        <!-- //Input para el nombre de la seccion-->
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <!--document uploaded-->
  <div class="dialog-subtitle-compound">
    <div class="dialog-subtitle-compound__text">
      <span>Upload File</span>
    </div>
    <div class="dialog-subtitle-compound__buttons-container">
      <input
        #csvInput
        hidden="true"
        type="file"
        onclick="this.value=null"
        accept=".xls,.xlsx,.mp4,.mp3,.docx,.doc,.mpeg,.pptx,.pdf"
        (change)="handleFileInput($event.target.files)"
      />
      <button
        class="dialog-circular-button"
        mat-mini-fab
        (click)="csvInput.click()"
      >
        <mat-icon class="dialog-circular-button__icon">file_upload</mat-icon>
      </button>
    </div>
  </div>
  <!--#document uploaded-->
  <!--document name-->
  <div class="dialog__file-container">
    <div class="dialog__file-container--file-name" *ngIf="fileToUpload == null">
      No file selected
    </div>
    <mat-icon class="dialog__file-container--icon">{{ tipoArchivo }}</mat-icon>
    <div class="dialog__file-container--file-name">{{ nombreArchivo }}</div>
  </div>
  <!--#document name-->
  <mat-dialog-actions align="end">
    <!--cancel btn-->
    <button
      mat-button
      mat-dialog-close
      class="dialog-button-cancel"
      (click)="cancelar()"
    >
      Cancel
    </button>
    <!--#cancel btn-->
    <!--accept btn-->
    <button mat-button class="dialog-button-accept" (click)="aceptar()">
      Accept
    </button>
    <!--#accept btn-->
  </mat-dialog-actions>
</div>
