<div class="container">
  <!--Subtitle-->
  <div class="subtitle-compound">
    <div class="subtitle-compound__text">
      <span>List of Forums</span>
    </div>
    <div class="subtitle-compound__buttons-container">
      <!--Add button-->
      <button class="circular-button-subtitle" mat-mini-fab>
        <mat-icon class="circular-button-subtitle__icon">add</mat-icon>
      </button>
      <!--#Add button-->
    </div>
  </div>
  <!--#Subtitle-->
  <button class="circular-button-subtitle" mat-mini-fab>
    <mat-icon class="circular-button-subtitle__icon" (click)="verForo()"
      >remove_red_eye</mat-icon
    >
  </button>
</div>
