<!--card-->
<div class="classroom-card">
    <!--titulo de la clase-->
    <p class="classroom-card__description-classroom">{{ materia }}</p>
    <!--#titulo de la clase-->
    <span class="classroom-card__description-detail">
      <i class="far fa-calendar-alt"></i
      ><!--horario-->
      <span class="classroom-card__description-detail-text"
        >Days: {{ diasMateria }}</span
      >
      <!--#horario-->
    </span>
    <p class="classroom-card__description-detail">
      <i class="fas fa-clock"></i
      ><!--horario-->
      <span class="classroom-card__description-detail-text"
        >Schedule: {{ horarioMateria }}</span
      >
      <!--#horario-->
    </p>
    <span class="classroom-card__description-detail">
      <i class="fas fa-user-friends"></i>
      <!--total de estudiantes-->
      <span class="classroom-card__description-detail-text"
        >Students: {{ totalEstudiantes }}</span
      >
      <!--#total de estudiantes-->
    </span>
    <!--semestre en que se da la materia-->
    <span class="classroom-card__description-semester">
      {{ semestre }}
    </span>
    <!--#semestre en que se da la materia-->
  </div>
  <!--#card-->