<div class="container">
  <div class="u__flex--flex-start mt-3">
    <button
      class="chip-button chip-button--primary"
      (click)="editarPorcentajes()"
    >
      <i class="fas fa-edit chip-button__icon"></i>
      <div class="chip-button__text">Edit Percentages</div>
    </button>
  </div>

  <!--Subtitle-->
  <div class="subtitle-compound">
    <div class="subtitle-compound__text">
      <span>{{ nombreModulo }}</span>
    </div>
    <div class="subtitle-compound__buttons-container">
      <!--Add button-->
      <button
        class="circular-button-subtitle"
        mat-mini-fab
        (click)="agregarModulo()"
      >
        <mat-icon class="circular-button-subtitle__icon">add</mat-icon>
      </button>
      <!--#Add button-->
    </div>
  </div>
  <!--#Subtitle-->
  <!--row-->
  <div class="row">
    <!--evaluation-card-attendance  -->
    <div
      *ngFor="let custCards of cardsModulosPers; let indexcu = index"
      class="col-lg-3 col-md-6 col-xs-12"
    >
      <div class="custom-card--custom">
        <div class="custom-card--custom__img">
          <div
            class="custom-card--custom__img-overlay"
            [ngStyle]="{
              'background-color': sacarColor(custCards.idColor) + 'A6'
            }"
          >
            <div class="custom-card--custom__buttons-card">
              <!--btn Ver lista-->
              <button
                class="circular-button-custom-card"
                (click)="verlistar(custCards)"
              >
                <mat-icon class="circular-button-custom-card__icon">
                  list
                </mat-icon>
              </button>
              <!--#btn Ver lista-->
              <!--btn configuraciones-->
              <button
                class="circular-button-custom-card"
                (click)="editarCard(custCards)"
              >
                <mat-icon class="circular-button-custom-card__icon">
                  settings
                </mat-icon>
              </button>
              <!--#btn configuraciones-->
              <!--btn eliminar-->
              <button
                class="circular-button-custom-card"
                (click)="eliminarCard(custCards, indexcu)"
              >
                <mat-icon class="circular-button-custom-card__icon">
                  delete
                </mat-icon>
              </button>
              <!--#btn eliminar-->
            </div>
            <div class="custom-card--custom__content-card">
              <div class="custom-card--custom__circle-container">
                <div
                  class="custom-card--custom__circle"
                  [ngStyle]="{
                    'background-color': sacarColor(custCards.idColor)
                  }"
                >
                  {{ custCards.rubrica }}%
                </div>
              </div>
              <div class="custom-card--custom__title-container">
                <div class="custom-card--custom__title">
                  {{ custCards.nombreModulo }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#evaluation-card-attendance  -->
  </div>
  <!--#row-->
</div>
