<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <!-- primer paso -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Questions from Repository</ng-template>
      <!-- contenido -->
      <mat-dialog-content class="mat-typography">
        <div class="row">
          <!--cantidad estudiantes-->
          <mat-form-field class="col-sm-2">
            <mat-label>English Level</mat-label>
            <mat-select [(value)]="valueNivelIngles">
              <mat-option
                *ngFor="let elemento of nivelIngles"
                [value]="elemento"
              >
                {{ elemento }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--#cantidad estudiantes-->
          <!--cantidad categoria pregunta-->
          <mat-form-field class="col-sm-2">
            <mat-label>Category</mat-label>
            <mat-select [(value)]="valueTipoCategoria">
              <mat-option
                *ngFor="let elemento of tipoCategoriasRepositorio"
                [value]="elemento"
              >
                {{ elemento }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--#cantidad categoria pregunta-->
          <!-- tipo preguntas-->
          <mat-form-field class="col-sm-2">
            <mat-label>Type of question</mat-label>
            <mat-select [(value)]="valueTipoPregunta">
              <mat-option
                *ngFor="let elemento of tipoPreguntasRepositorio"
                [value]="elemento"
              >
                {{ elemento }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--# tipo preguntas-->
          <!-- tipo respuestas-->
          <mat-form-field class="col-sm-2">
            <mat-label>Type of answer</mat-label>
            <mat-select [(value)]="valueTipoRespuesta">
              <mat-option
                *ngFor="let elemento of tipoRespuestasRepositorio"
                [value]="elemento"
              >
                {{ elemento }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--# tipo respuestas-->
          <!-- tipo skill-->
          <mat-form-field class="col-sm-2">
            <mat-label>Type of skill</mat-label>
            <mat-select [(value)]="valueTipoHabilidad">
              <mat-option
                *ngFor="let elemento of tipoHabilidadRepositorio"
                [value]="elemento"
              >
                {{ elemento }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--# tipo skill-->
          <!-- search bar -->
          <mat-form-field class="col-sm-2">
            <input
              type="text"
              placeholder="Search"
              aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- #search bar -->
        </div>
        <!-- tabla -->

        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          class="mat-header-row"
        >
          <!-- Position Column -->
          <ng-container matColumnDef="posicion">
            <th mat-header-cell *matHeaderCellDef class="header-table">
              No.
            </th>
            <td mat-cell *matCellDef="let element" class="mat-cell">
              {{ element.posicion }}
            </td>
          </ng-container>
          <!-- #Position Column -->
          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef class="header-table">
              Name
            </th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>
          <!-- #Name Column -->

          <!-- Father's Name Column -->
          <ng-container matColumnDef="p_nombre">
            <th mat-header-cell *matHeaderCellDef class="header-table">
              Father's Name
            </th>
            <td mat-cell *matCellDef="let element">{{ element.p_nombre }}</td>
          </ng-container>
          <!-- #Father's Name Column -->
          <!-- Mother's Name Column -->
          <ng-container matColumnDef="m_nombre">
            <th mat-header-cell *matHeaderCellDef class="header-table">
              Mother's Name
            </th>
            <td mat-cell *matCellDef="let element">{{ element.m_nombre }}</td>
          </ng-container>
          <!-- #Mother's Name Column -->
          <!-- Average Column -->
          <ng-container matColumnDef="promedio">
            <th mat-header-cell *matHeaderCellDef class="header-table">
              Average
            </th>
            <td mat-cell *matCellDef="let element">{{ element.promedio }}</td>
          </ng-container>
          <!-- #Average Column -->
          <!-- Buttons Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="header-table">
              Actions
            </th>
            <td mat-cell *matCellDef="let element">
              <button class="circular-button-table--normal" mat-mini-fab>
                <!--update usuario-->
                <span class="circular-button-table__icon"
                  ><i class="fas fa-pencil-alt"></i>
                </span>
                <!-- #update usuario-->
              </button>
              <button class="circular-button-table--negative" mat-mini-fab>
                <!--delete usuario-->
                <span class="circular-button-table__icon"
                  ><i class="fas fa-trash"></i>
                </span>
                <!-- #delete usuario-->
              </button>
              <!-- #Buttons Column -->
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-dialog-content>
      <!-- #tabla -->
      <!-- #contenido -->
      <div>
        <button
          mat-button
          matStepperPrevious
          class="progress-bar__button-negative"
        >
          Cancel
        </button>
        <button mat-button matStepperNext class="progress-bar__button-normal">
          Add questions
        </button>
      </div>
    </form>
  </mat-step>
  <!-- #primer paso -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Review selected ques tions</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button
          mat-button
          matStepperPrevious
          class="progress-bar__button-negative"
        >
          Back
        </button>
        <button mat-button matStepperNext class="progress-bar__button-normal">
          Add questions to practice
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button
        mat-button
        matStepperPrevious
        class="progress-bar__button-negative"
      >
        Back
      </button>
      <button
        mat-button
        (click)="stepper.reset()"
        class="progress-bar__button-normal"
      >
        Reset
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
