<div class="bg-top-img">
    <div class="bg-top-img__overlay">
      <div class="container">
        <div class="navbar-brand-classroom">
          <img [src]="mylogo" class="navbar-brand-classroom__img" />
          <div class="navbar-brand-classroom__text">UCB English for teachers</div>
          <div class="navbar-brand-classroom__circle-button"><button mat-mini-fab>M</button>
        </div>
        <div class="classroom-card">
          <div class="classroom-card__description">
            <p class="classroom-card__description--title">English 2</p>
            <p class="classroom-card__description--subtitle">
              <i class="far fa-calendar-alt"></i> Days: Mon-Tue-Wed-Thu
            </p>
            <p class="classroom-card__description--subtitle">
              <i class="fas fa-clock"></i> Schedule: 7:30 - 9:00
            </p>
            <p class="classroom-card__description--subtitle">
              <i class="fas fa-user-friends"></i> Students: 25 
            </p>
            <p class="classroom-card__description--aux">
              1/2020
            </p>
          </div>
        </div>
        <div class="classroom-card1">
          <div class="classroom-card__description">
            <p class="classroom-card__description--title">English 3</p>
            <p class="classroom-card__description--subtitle">
              <i class="far fa-calendar-alt"></i> Days: Mon-Tue-Wed-Thu
            </p>
            <p class="classroom-card__description--subtitle">
              <i class="fas fa-clock"></i> Schedule: 9:15 - 11:00
            </p>
            <p class="classroom-card__description--subtitle">
              <i class="fas fa-user-friends"></i> Students: 30
            </p>
            <p class="classroom-card__description--aux">
              1/2020
            </p>
          </div>
        </div>
      </div>
    </div>
</div>