<div class="container">
  <div class="login-card">
    <div class="login-card__left-side">
      <div class="login-card__img">
        <div class="login-card__overlay-img">
          <div class="login-card__overlay-text">
            <p>UCB English for teacher</p>
          </div>
        </div>
      </div>
    </div>
    <div class="login-card__right-side">
      <div class="login-card__type-users-buttons">
        <button class="login-button-teachers"><i class="fas fa-chalkboard-teacher"></i>&nbsp;&nbsp;Teachers</button>
        <button class="login-button-students"><i class="fas fa-user-friends"></i>&nbsp;&nbsp;Students</button>
      </div>
      <p class="login-card__title">Welcome teacher!</p>
      <p class="login-card__description">It's good to have you back in the plataform!</p>

      

    </div>
  </div>
</div>