<div class="bg-top-img">
  <div class="bg-top-img__overlay">
    <div class="login-card">
      <div class="login-card__left-side">
        <div class="login-card__img">
          <div class="login-card__overlay-img">
            <div class="login-card__overlay-text">
              <p>UCB English for teachers</p>
            </div>
          </div>
        </div>
      </div>
      <div class="login-card__right-side">
        <div class="login-button-user-container">
          <button class="login-button-user">
            <i class="fas fa-user-friends"></i>
            <div class="login-button-user__text">
              Students
            </div>
          </button>
          <button class="login-button-user active">
            <i class="fas fa-chalkboard-teacher"></i>
            <div class="login-button-user__text">
              Teachers
            </div>
          </button>
        </div>
        <p class="login-card__title">Welcome Teacher!</p>
        <p class="login-card__description">
          It's good to have you back in the plataform!
        </p>

        <button mat-raised-button color="primary">AQUI</button>
      </div>
    </div>
  </div>
</div>
