<div class="simple-dialog">
  <div class="simple-dialog__content">
    <!--icon-->
    <div
      class="simple-dialog__icon-content simple-dialog__icon-content--warning"
    >
      <mat-icon class="simple-dialog__icon simple-dialog__icon--warning"
        >warning</mat-icon
      >
    </div>
    <!--#icon-->
    <!--Title simple dialog-->
    <div class="simple-dialog__title">
      <span class="simple-dialog__title--warning">Warning</span>
    </div>
    <!--#title simple dialog-->
    <!--message-->
    <span class="simple-dialog__message">
      {{ message }}
    </span>
    <!--#message-->
  </div>
  <mat-dialog-actions align="center">
    <button mat-button class="dialog-button-accept" (click)="accept()">
      {{ buttonMessage }}
    </button>
  </mat-dialog-actions>
</div>
